<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME PAGE</title>



    <!-- Vendors -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/vue-airbnb-style-datepicker.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

</head>
<body>

  <header>
    <div class="container">
      <nav class="mobile-nav d-lg-none">
        <img src="/images/logo.png" alt="" class="mobile-logo">
        <div class="mobile-nav__right-side">
          <a href="#" class="mobile-nav__offers">Offers</a>
          <div class="hamburger">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </div>
      </nav>
      <div class="mobile-nav__collapse">
        <a href="#" class="mobile-nav__link mobile-nav__link--dropdown">Gallery</a>
        <div class="mobile-nav__sub-nav">
          <a href="#" class="mobile-nav__sub-link">NEST</a>
          <a href="#" class="mobile-nav__sub-link">NEST</a>
          <a href="#" class="mobile-nav__sub-link">NEST</a>
        </div>
        <a href="#" class="mobile-nav__link">Gallery</a>
        <a href="#" class="mobile-nav__link mobile-nav__link--dropdown">Gallery</a>
        <div class="mobile-nav__sub-nav">
          <a href="#" class="mobile-nav__sub-link">NEST</a>
        </div>
      </div>
      <nav class="desktop-nav d-none d-lg-block">
        <div class="desktop-nav__top">
          <img src="/images/logo.png" alt="" class="desktop-logo">
          <div class="desktop-nav__top-links">
            <a href="#"><i class="icon-blog"></i> Our Blog</a>
            <a href="#"><i class="icon-contact"></i> Contact Us</a>
            <a href="#"><i class="icon-gifts"></i> Gift Vouvher</a>
          </div>
        </div>
        <div class="dektop-nav__bottom">
          <div class="navbar navbar-expand-lg">
            <a href="#" class="desktop-nav__home"><img src="/images/icons/p3/home-icon.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                  </div>
                </li>
              </ul>
              <a href="#" class="desktop-nav__button">Special Offers</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>



  <section id="banner" class="d-none d-xl-block">
    <div class="container">
      <h1>The Redworth Hall Hotel</h1>
      <!-- <p>Surtees Rd, Newton Aycliffe DL5 6NL, UK</p> -->
      <!-- HOTEL INFO BUTTONS P3B -->
      <div class="hotel-info-buttons d-none d-lg-flex">
        <a href="#" data-toggle="modal" data-target="#modalTabs" class="btn">Hotel Info</a>
        <a href="#" class="btn">Map</a>
        <a href="#" class="btn">Gallery</a>
      </div>
      <!-- END HOTEL INFO BUTTONS P3B -->
    </div>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <a href="#"><div class="hotel-gallery" style="background-image: linear-gradient(104deg, rgba(51, 50, 50, 0.5), rgba(26, 25, 25, 0) 85%,rgba(26, 26, 26, 0) 81%, rgba(0, 0, 0, 0)), url(https://www.hodsonbayhotel.com/image/resize/315x550/cms/hodson-bay/images/new/hbh_gallery_andrew-bradley-retreat-room_1.jpg)">
            <img src="images/icons/p3/icon-open-gallery.svg" class="icon-open-gallery">
          </div></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Mobile Hotel Info P3B -->
  <section id="mobile-hotel-info" class="d-xl-none">
    <div class="container d-flex justify-content-between">
      <a href="#" data-toggle="modal" data-target="#modalTabs"><i class="icon-info-white"></i> Hotel Info</a>
      <a href="#"><i class="icon-search-white"></i> New Search</a>
    </div>
  </section>
  <!-- END Mobile Hotel Info P3B -->

  <!-- IBE -->
        <div class="search-rates">
                <div id="booking-widget" class="booking-widget-search-rates">
                <div class="widget-form">
                  <p class="error-message">error message</p>
                    <form action="">
                        <div class="form-group">
                            <div class="booking-widget-datepicker">
                                <input class="form-control" type="text" id="trigger-single" :value="formatDates(arrivalDate)" placeholder="Select date" readonly>
                                <input type="hidden" name="arrival" :value="arrivalDate">
                                <airbnb-style-datepicker
                                        :trigger-element-id="'trigger-single'"
                                        :mode= "'single'"
                                        :date-one="arrivalDate"
                                        :months-to-show="1"
                                        @date-one-selected="dateSelected"
                                ></airbnb-style-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1 Night</option>
                                <option>2 Nights</option>
                                <option>3 Nights</option>
                                <option>4 Nights</option>
                                <option>5 Nights</option>
                            </select>
                        </div>
            
                        <div id="guest-widget">
                            <div class="guest-quantity" v-for="room in rooms">
                                <div class="d-flex total-guests roll" v-on:click="isHidden = !isHidden">
                                    <p>{{totalRooms}} room</p>
                                    <p>{{totalPeople}} people</p>
                                </div>
                                <div class="guest-widget-buttons" v-if="!isHidden">
                                    <div class="guest-widget-buttons-container">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p>How many rooms?</p>
                                            <div class="d-flex align-items-center justify-content-between w-50">
                                                <button type="button" @click="room.quantity -= 1" :disabled="room.quantity == 1">-</button>
                                                    <span>{{room.quantity}}</span>
                                                <button type="button" @click="room.quantity += 1">+</button>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 4">
                                            <p class="room-number">
                                                <span>Room {{room.quantity}}<span>
                                            </p>                            
                                            <div class="align">
                                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                                    <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 3">
                                            <p class="room-number">
                                                <span>Room {{room.quantity}}<span>
                                            </p>                            <div class="align">
                                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                                    <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 2">
                                            <p class="room-number">
                                                <span>Room {{room.quantity}}<span>
                                            </p>                            <div class="align">
                                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                                    <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="guest-info" v-if="room.quantity >= 1">
                                            <p class="room-number">
                                                <span>Room {{room.quantity}}<span>
                                            </p>
                                            <div class="align">
                                                <div class="d-flex align-items-center my-3" v-for="person in people">
                                                    <p class="person-age">{{person.name}} <span>(15+)</span></p>
                                                    <div class="d-flex align-items-center justify-content-between w-50">
                                                        <button type="button" @click="person.quantity -= 1" :disabled="person.quantity == 0">-</button>
                                                            <span>{{person.quantity}}</span>
                                                        <button type="button" @click="person.quantity += 1">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="apply-btn" v-on:click="isHidden = true">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-code">
                            <a href="javascript:;" class="promo-code-link">Add a code +</a>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Type your code...">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary w-100 loading-spinner">Search</button>
                    </form>
                </div>
                </div>
        </div>

  
<!-- Footer -->

<footer>
  <div class="container">
    <div class="footer__wrapper">
      <h3 class="footer__h3">HODSON BAY HOTEL</h3>
      <p class="footer__p">Roscommon Road, Athlone, N37 XR82, <a href="tel:+353906442004">+353 (0) 90 6442004</a>, <a href="mailto:info@hodsonbayhotel.com">info@hodsonbayhotel.com</a> </p>
      <ul class="footer__social">
        <li>
            <a href="http://www.youtube.com/user/HodsonBayHotel" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="http://www.facebook.com/hodsonbay" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="http://twitter.com/Hodsonbayhotel" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/+hodsonbayhotel/posts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="http://pinterest.com/hodsonbayhotel/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://instagram.com/hodsonbayhotel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
    <ul class="footer__links">
      <li>
        <a href="https://www.hodsonbayhotel.com/faq" target="_top">
          Frequently Asked Questions
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/privacy-policy" target="_top">
          PRIVACY POLICY
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/gallery" target="_top">
          GALLERY
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/athlone-accommodation" target="_top">
          SLEEP
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/weddings" target="_top">
          WEDDINGS
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/giftvouchers" target="_top">
          Gift Vouchers
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/enquire" target="_top">
          Enquire
        </a>
      </li>
      <li>
        <a href="https://www.hodsonbayhotel.com/group" target="_top">
          Careers
        </a>
      </li>
    </ul>
    <span class="footer__copyright">Copyright © Hodson Bay Hotel 2020 All Rights Reserved</span>
    </div>
  </div>
</footer>

    
    <!-- JS Files -->

    <!-- jQuery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    
    <!-- Slick -->
    <script type="text/javascript" src="js/slick.min.js"></script>

    <!-- Multi Select -->
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

    <!-- Prefixfree -->
    <script type="text/javascript" src="js/prefixfree.min.js"></script>
    <script type="text/javascript" src="js/prefixfree.dynamic-dom.min.js"></script>
    <script type="text/javascript" src="js/prefixfree.viewport-units.js"></script>
    <script type="text/javascript" src="js/prefixfree.jquery.js"></script>

    <!-- Lazyload -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.1.0/dist/lazyload.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue-airbnb-style-datepicker@2.1.0/dist/no-dep/vue-airbnb-style-datepicker.min.js"></script> -->

    <!-- Vue Datepicker -->
    

  <script>
    new Vue({
        el: '#guest-widget',
        data: {
            rooms: [{"id":1,"quantity":1,"name":"Room"}],
            people: [{"id":1,"quantity":1,"name":"Adult"},{"id":2,"quantity":0,"name":"Children"},{"id":3,"quantity":0,"name":"Infant"}],
            isHidden: true
        },
        computed: {
            totalRooms () {
                return this.rooms.reduce((sum, room) => {
                    return sum + room.quantity
                }, 0)
            },
            totalPeople () {
                return this.people.reduce((sum, people) => {
                    return sum + people.quantity
                }, 0)
            }
        }
    })
  </script>
    
    <!-- Custom -->
    <script src="js/p3core.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>