// Gallery Icon
.icon-open-gallery {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.icon-info {
    background: url("../../../public/images/icons/p3/icon-info-dark-default.svg");
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-info-white {
    background: url("../../../public/images/icons/p3/icon-info-light-default.svg");
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-chevron-right {
    -webkit-mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    background-color: white;
    height: 19px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-chevron-down {
    -webkit-mask-image: url(../../../public/images/icons/p3/icon-chevron-white-down.svg);
    mask-image: url(../../../public/images/icons/p3/icon-chevron-white-down.svg);
    background-color: white;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-chevron-up {
    -webkit-mask-image: url(../../../public/images/icons/p3/icon-chevron-white-up.svg);
    mask-image: url(../../../public/images/icons/p3/icon-chevron-white-up.svg);
    background-color: white;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-progress-step-separator {
    -webkit-mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    background-color: black;
    height: 19px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-progress-step-separator-complete {
    -webkit-mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    mask-image: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    background-color: #6abb91;
    height: 19px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.view-rates-btn:hover .icon-chevron-down {
    background-color: $primaryColor;
}
.view-rates-btn:hover .icon-chevron-up {
    background-color: $primaryColor;
}
.select-rate-btn:hover .icon-chevron-right {
    background-color: $primaryColor;
}
.icon-search-white {
    background: url("../../../public/images/icons/p3/icon-new-search.svg");
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.circle-backround {
    background-color: #000;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
// Checkboxes
.checkbox-group input {
    height: auto;
}
span.custom-check {
    background: #fff;
    border: 1px solid hsla(198,5%,61%,.5);
    margin-right: 10px;
    border-radius: 0;
}
span.custom-check, span.custom-radio {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
    top: -2px;
    position: relative;
}
input[type=checkbox]:checked+span.custom-check:after {
    content: "\f00c";
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    line-height: 20px;
    text-align: center;
    animation: form-zoom .5s ease-in-out;
    padding: 0px 2px;
    background: $primaryColor;
    position: absolute;
    left: -1px;
    top: -1px;
}
.form-check input[type=checkbox], .form-check input[type=radio], label input[type=checkbox], label input[type=radio] {
    display: none;
}
.form-check {
    padding-left: 0;
}
// Hotel Info Buttons
.hotel-info-buttons .btn-primary {
    margin-right: 20px;
}

// Mobile Hotel Info
#mobile-hotel-info {
    background-color: $primaryColor;
    padding: 14px 0;
    a {
        font-size: 15px;
        color: #fff;
        font-family: $textFont;
        &:focus {
            text-decoration: none;
        }
    }
}

// Hotel Info Buttons
.hotel-info-buttons .btn-primary {
    border: 1px solid rgba(131, 111, 111, 0.8);
    padding: 8.5px 17.5px;
    &:hover {
        border: 1px solid #fff;
    }
    &:focus {
        box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active {
        box-shadow: none;
        background-color: #fff;
        color: $primaryColor;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
        box-shadow: none;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        border-color: $primaryColor;
    }
}

// Booking Summery
.booking-summary-heading {
    padding: 10px;
    background-color: $bookingSummaryBackgroundColor;
    font-family: $headingFont;
    @include mQ (992px) {
        padding: 30px 30px 20px 30px;
    }
    h2 {
        font-size: 15px;
        color: $primaryColor;
        text-transform: uppercase;
        @include mQ (992px) {
            font-size: 22px;
        }
    }
}
.booking-summary-data {
    background-color: $bookingSummaryBackgroundColor;
    padding: 0 8px;
    p {
        width: 50%;
    }
    .booking-row {
        padding: 10px 0;
    }
    @include mQ(992px) {
        padding: 0 30px;
    }
    @include mQmax(991px) {
        display: none;
    }
}

// Rotate on click
.rotate180 {
    transform: rotate(180deg);
}

// Card Style
.card-style {
    box-shadow: inset 0px 0px 0px 1px #d8d8d8;
    margin-bottom: 30px;
}
.px-10 {
    @include mQmax (991px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
// Room with Rates Details
.room-content {
    padding: 20px 10px 20px 10px;
    position: relative;
    h3 {
        font-size: 17px;
        margin-bottom: 20px;
        @include mQmax (992px) {
            text-indent: -24px;
            padding-left: 24px;
        }
    }
    h2 {
        font-size: 30px;
        line-height: 1;
        text-align: right;
    }
    .price-section {
        position: relative;
        @include mQ(992px) {
            margin-bottom: 44px;
        }
    }
    .price-section .strike-through {
        position: absolute;
        top: -20px;
        right: 0;
    }
    .price-section .num-nights {
        position: absolute;
        // top: -15px;
        right: 0;
    }
    span {
        color: rgba(51, 50, 50, 0.5);
        font-size: 13px;
    }
    @include mQ (992px) {
        padding: 30px;
    }
    .from-spam {
        margin-right: 10px;
        @include mQmax (991px) {
            position: absolute;
            top: -15px;
        }
    }
    .price-after-decimal {
        font-size: 18px;
        color: $primaryColor;
    }
    .view-rates-btn {
        width: 151px;
        height: 50px;
        img {
            height: 14px;
            width: 14px;
        }
    }
    .room-ribbon {
        position: absolute;
        top: -15px;
        right: -76px;
        span {
            position: relative;
            left: -105px;
            top: -5px;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
        }
        @include mQmax(991px) {
            display: none;
        }
    }
    .main-price-curreny {
        font-size: 18px;
        color: $primaryColor;
    }
}
.room-wrapper .room-image {
    height: 184px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include mQ(992px) {
        width: 300px;
    }
    .icon-open-gallery {
        bottom: 10px;
        left: auto;
        right: 10px;
    }
}
.rates-wrapper {
    display: none;
    padding: 0 10px 20px 10px;
    @include mQ(992px) {
        padding: 30px;
    }
    h3 {
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 10px;
        @include mQmax (1200px) {
            text-indent: -24px;
            padding-left: 24px;
        }
        a {
            color: $primaryColor;
            &:hover {
                text-decoration: none;
            }
        }
        @include mQ(992px) {
            padding-bottom: 0;
        }
    }
    span {
        color: rgba(51, 50, 50, 0.5);
        font-size: 13px;
    }
    .select-rate-btn {
        width: 125px;
        height: 50px;
        font-size: 22px;
        span {
            font-size: 16px;
            color: #fff;
        }
        .fa {
            font-size:14px;
            padding-bottom: 2px;
            top: -3px;
            position: relative;
        }
        &:hover span {
            color: $primaryColor;
        }
    }
    .rate-description {
        color: rgba(51, 50, 50, 0.8);
        font-size: 15px;
        ul {
            list-style-position: inside;
            margin-bottom: 15px;
        }
        display: none;
        @include mQ(992px) {
            max-width: 550px;
        }
    }
    .select-rate {
        @include mQ(992px) {
            height: 53px;
        }
    }
    .mobile-rate-free-cancel {
        color: #6abb91;
        font-size: 12px;
        font-weight: 500;
    }
    .rate-container {
        padding-bottom: 20px;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 20px;
        position: relative;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &:first-child {
            border-top: 1px solid #d8d8d8;
            padding-top: 20px;
            @include mQ(992px) {
                border-top: none;
                padding-top: 0;
            }
        }
    }
    .rate-ribbon {
        position: absolute;
        top: -15px;
        left: -40px;
        span {
            position: relative;
            left: -117px;
            top: -5px;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
        }
        @include mQmax(991px) {
            display: none;
        }
    }
}

// Slick
.slick-prev {
    z-index: 100;
    left: 5px;
    &:before {
        content: url(../../../public/images/icons/p3/icon-chevron-white-left.svg);
    }
}
.slick-next {
    z-index: 100;
    right: 5px;
    &:before {
        content: url(../../../public/images/icons/p3/icon-chevron-white-right.svg);
    }
}
.strike-through {
    text-decoration: line-through;
}


// Large Banner With Half Screen Image

#banner {
    background-color: $primaryColor;
    color: #fff;
    padding: 20px 0 27px 0;
    position: relative;
    margin-bottom: 30px;
    h1 {
        font-size: 20px;
        margin-top: 19px;
        margin-bottom: 32px;
    }
    p {
        font-size: 16px;
        margin-bottom: 53px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }
    @include mQ(992px) {
        margin-bottom: 40px;
    }
}

// Addons Page

.addon-heading {
    h2 {
        font-size: 22px;
        color: $primaryColor;
        margin-right: 10px;
    }
    span {
        font-size: 14px;
        color: rgba(51, 50, 50, 0.5);
    }
}
.addon-heading-row {
    margin-bottom: 20px;
    .skip-btn {
        width: 148px;
        height: 50px;
    }
}
.addon-with-checkbox-wrapper {
    img {
        height: 86px;
        width: 130px;
        object-fit: cover;
    }
    .addon-content {
        padding: 20px 10px;
        @include mQ(992px) {
            padding: 20px;
            width: 100%;
        }
        h3 {
            font-size: 17px;
            color: $primaryColor;
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
            line-height: 1.73;
            color: rgba(51, 50, 50, 0.8);
            margin-bottom: 20px;
        }
        h4 {
            font-size: 22px;
            font-weight: 500;
            color: $primaryColor;
            font-weight: 500;
        }
        span {
            color: rgba(51, 50, 50, 0.5);
            font-size: 13px;
            line-height: 1;
        }
        label {
            font-size: 14px;
            color: rgba(51, 50, 50, 0.8);
            text-align: right;
        }
        .addon-price {
            @include mQ (992px) {
                text-align: center;
            }
        }
    }
}

