@import './variables';
@import './resets';
@import './mixins';
@import './p3mixins';
@import './p3';
@import './header';
@import './footer';

.container {
    @include mQ(991px) {
        max-width: 1480px;
        padding: 0 60px;
    }
    @include mQmax(575px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

// Mobile Hamburger

// /* ALL */

.three{
    // padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // background-color: #2c3e50;
    color: #222222;
    text-align: center;
  }
  
  .hamburger .line{
    width: 30px;
    height: 5px;
    background-color: $primaryColor;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  #hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }

// Booking summary

.booking-summary-heading {
  h2 {
    font-family: $textFont;
    font-weight: 500;
    font-weight: 26px;
    text-transform: uppercase;
    font-weight: 600;
    @include mQ(1200px) {
      font-family: $headingFont;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
}
.booking-summary-data {
  p {
    font-size: 16px;
    font-weight: 400;
  }
  p:nth-child(even) {
    text-align: right;
  }
}
.booking-summary-total-wrapper {
  h2 {
    width: 50%;
  }
  p:nth-child(even) {
    text-align: right!important;
  }
  h2:nth-child(even) {
    text-align: right!important;
  }
}


.booking-summary-heading {
  @include mQ(576px, 1200px) {
    padding: 10px 60px;
  }
  span {
    font-size: 13px;
    color: rgba(51, 50, 50, 0.5);
    font-family: $textFont;
    margin-left: 10px
  }  
}
.booking-summary-table {
  @include mQ(1200px) {
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
  .btn {
    margin: 10px 0 20px 0;
  }
}

.booking-summary-rooms-section {
  ul {
      font-size: 15px;
      font-weight: 500;
  }
}

.open-booking-summary-room-details {
  background: #000;
  width: 27px;
  height: 27px;
  border-radius: 25px;
  i {
    top: 3px;
    left: 3px;
    position: relative;
  }
}

// Loyalty Signup

.desktop-sign-up {
  background-color: #e8ecd4;
  margin-top: 30px;
  padding: 10px 10px;
  @include mQ(1400px) {
      padding: 40px;
  }
  h2 {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $primaryFontColor;
  }
  .desktop-sign-up-content {
    @include mQ(1200px) {
      padding: 10px 0 0 20px;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: $secondaryFontColor;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 15px;
    width: 100%;
    max-width: 186px;
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }
  a {
    text-decoration: underline;
  }
}

.hotel-info-buttons .btn{
  border-radius: 25px;
}

// .open-booking-summary {
//   background: #000;
//     width: 27px;
//     height: 27px;
//     border-radius: 25px;
// }
//  .open-booking-summary .icon-chevron-down {
// //   position: relative;
// //   top: 3px;
// //   left: 3px;
// // }
// .icon-info-white, .icon-search-white {
//   position: relative;
//   top: 3px;
// }
// .icon-info {
//   position: relative;
//   top: 1px;
// }
// .form-check span {
//   box-shadow: inset 1px 1px 0 0 #d8d8d8;
//   background-color: #f2f2f2;
//   border: none;
// }
// .addon-content select {
//   width: 70px;
//   height: 50px;
//   box-shadow: inset 1px 1px 0 0 #d8d8d8;
//   background-color: #f2f2f2;
//   &:focus {
//     box-shadow: inset 1px 1px 0 0 #d8d8d8;
//   }
// }

// .price-currency-decimal {
//   span {
//     color: $primaryFontColor!important;
//     font-size: 16px!important;
//     font-weight: 500!important;
//   }
// }
// .payment-details-wrapper {
//   a {
//       text-decoration: underline;
//   }
// }

.pregress-steps-desktop {
  ul {
    width: 100%;
    background-color: rgba(34, 34, 34, 0.05);
    text-align: justify;
    margin-bottom: 30px;
    li {
      display: inline-block;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 33%;
      color: rgba(34, 34, 34, 0.3);
      font-weight: 600;
      font-size: 14px;
    }
    .active {
      background-color: #e8ecd4;
      font-weight: 500;
    }
    .past {
      background-color: #e8ecd4;
    }
  }
}

.page-top {
  margin-bottom: 30px;
  h2 {
    @include sectionHeading;
  }
}

#progress-steps .pregress-steps-desktop {
  margin-bottom: 0;
  padding-bottom: 0;
}

.room-content .room-left-side li {
  font-family: $textFont;
  font-style: normal;
}

#banner {
  margin-bottom: 0px;
}

#banner h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-family: $headingFont;
  margin-top: 20px;
  margin-bottom: 25px;
}

#banner p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-family: $headingFont;
  margin-bottom: 35px;
}

.hotel-gallery {
  background: linear-gradient(104deg, rgba(51, 50, 50, 0.5), rgba(26, 25, 25, 0) 85%,rgba(26, 26, 26, 0) 81%, rgba(0, 0, 0, 0)), url("https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg") no-repeat center center;
  height: 236px;
  width: 100%;
  position: absolute;
  top: -209px;
  right: 0;
}

.rates-wrapper .mobile-rate-urgency {
  color: #e1574c;
}

@include mQ(992px) {
  .nav-tabs a {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    padding: 17px 15px;
  }
}