@font-face {
    font-family: 'open-sans';
    src: url('/css/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'open-sans';
    src: url('/css/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'open-sans';
    src: url('/css/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}