footer {
    background-color: #1d386a;
    text-align: center;
    margin-top: 40px;
    @include mQ(992px) {
        margin-top: 50px;
    }
}
.footer {
    &__wrapper {
        background-color: rgba(255, 255, 255, .1);
        padding: 20px 0;
    }
    &__social {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 5px 2px;
            a {
                background-color: #f1c66d;
                border-radius: 50%;
                color: #1b315f;
                display: table;
                font-size: 16px;
                height: 35px;
                margin: 0 2px;
                width: 35px;
                transition: all 0.4s ease;
                i {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    &__links {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 5px;
            a {
                display: table;
                font-size: 14px;
                font-weight: 600;
                margin: 5px 2px;
                text-transform: uppercase;
                color: #f1c66d;
            }
        }
    }
    &__h3 {
        color: #f1c66d;
        font-size: 16px;
        font-weight: 600;
    }
    &__p {
        font-size: 14px;
        text-transform: uppercase;
    }
    &__copyright {
        font-size: 12px;
    }
}