@mixin bodyText {
    font-family: $textFont;
    font-size: 14px;
    line-height: 21px;
    color: $secondaryFontColor;
    @include mQ (992px) {
        font-size: 14px;
        line-height: 21px;
    }
}
@mixin lightText {
    font-family: $textFont;
    font-size: 13px;
    // font-style: italic;
    // line-height: 14px;
    color: $lightFontColor;
    @include mQ(992px) {
        font-size:16px;
        // line-height: 18px;
    }
}
@mixin sectionHeading {
    font-family: $headingFont;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
    @include mQ(992px) {
        font-size: 22px;
    }
}
@mixin bodyLink {
    color: $bodyLinkColor;
    &:hover {
        color: $bodyLinkColor;
        cursor: pointer;
    }
}
@mixin rateName {
    color: $primaryFontColor;
    font-family: $textFont;
    font-size: 16px;
    font-weight: 100;
    // line-height: 1.6;
    @include mQ (992px) {
        font-size: 18px;
        // line-height: 1.44;
    }
    &:hover {
        text-decoration: none;
    }
}
@mixin cardHeading {
    font-family: $textFont;
    font-weight: 100;
    font-size: 18px;
    color: $primaryFontColor;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include mQ (992px) {
        line-height: 1.2;
        font-size: 22px;
        letter-spacing: 4px;
        font-family: $headingFont;
    }
}
@mixin bookingSummaryBackground {
    background-color: $bookingSummaryBackgroundColor;
    // box-shadow: inset 1px 1px 0 0 #d8d8d8;
    // border: 1px solid red;
    @include mQ(1200px) {
        background-color: $bookingSummaryBackgroundColorDesktop;
        // border: 1px solid brown;
    }
}
@mixin cardStyle {
    // box-shadow: inset 0px 0px 0px 1px #d8d8d8;
    margin-bottom: 40px;
    background-color: $cardBackgroundColor;
    // border: ;
    // background-color: ;
    border-radius: 2px;
    @include mQ(992px) {
        margin-bottom: 50px;
    }
}
@mixin btnPrimary {
    display: inline-block;
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0);
    // border-radius: 3px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    // border: 2px solid #57565b;
    padding: 13px 20px;
    letter-spacing: 1px;
    // box-shadow:inset 0px 0px 0px 1px #f0f0f0;
    text-transform: uppercase;
    font-family: $textFont;
    &:hover {
        color: #b7996d;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px #b7996d;
        // box-shadow:inset 0px 0px 0px 1px #f0f0f0;
    }
    &:not(:disabled):not(.disabled):active {
        color: #b7996d;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px #b7996d;
        // box-shadow:inset 0px 0px 0px 1px #f0f0f0;
    }
    &:focus {
        // box-shadow:inset 0px 0px 0px 1px #f0f0f0;
        border: 1px solid #fff;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &:disabled {
        background-color: #b7996d;
        opacity: 0.3;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
        box-shadow: none;
        color: #b7996d;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        border-color: #b7996d;
        color: #b7996d;
    }
    a {
        color: #fff;
        &:focus {
            color: #fff;
        }
    }
}
@mixin btnSecondary {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    // border: solid 1px #ffd75c;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #b7996d;
    padding: 12px 20px;
    font-family: $textFont;
    &:hover {
        background-color: transparent;
        color: #b7996d;
        border-color: #b7996d;
    }
    &:active {
        background-color:#b7996d;
        color: #b7996d;
        text-decoration: underline;
    }
    &:focus {
        border: none;
        color: #b7996d;
        text-decoration: underline;
    }
    &:disabled {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #fff;
        opacity: 0.3;
        color:#fff;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        background-color: transparent;
        border-color: transparent;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: none!important;
        // color: #fff;
    }

}
@mixin hotelInfoBtn {
    border: solid 1px #fff;
    margin-right: 20px;
    background-color: rgba(51, 50, 50, 0);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: $textFont;
    border-radius: 3px;
    &:hover {
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
    }
    &:active {
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
    }
    &:focus {
        box-shadow: none;
        background-color: #fff;
        color: #000;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled):active {
        box-shadow: none;
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
        box-shadow: none;
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        border-color: rgba(51, 50, 50, 0)r;
    }
}

@mixin offerSearchBtn {
    width: 100%;
    background-color: rgba(51, 50, 50, 0);
    color: #fff;
    border-radius: 25px;
    border: solid 1px rgba(255, 255, 255, 0.8);
    font-weight: 600;
    height: 50px;
    &:hover {
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
    }
    &:active {
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
    }
    &:focus {
        box-shadow: none;
        background-color: #fff;
        color: #000;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled):active {
        box-shadow: none;
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>&.dropdown-toggle:focus {
        box-shadow: none;
        background-color: rgba(51, 50, 50, 0);
        color: #ffffff;
        border: solid 1px rgba(255, 255, 255, 0.8);
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        border-color: rgba(51, 50, 50, 0)r;
    }
}

@mixin formLabel {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    font-family: $textFont;
    @include mQ(992px) {
        font-size: 14px;
    }
}

@mixin selectIcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 15px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-image: $selectIcon;
    padding: 4px 23px 4px 10px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
}

@mixin FormPeople {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 15px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-image: $iconFormPeople;
    padding: 4px 23px 4px 10px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
}

@mixin FormBed {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 15px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-image: $iconRoomBed;
    padding: 4px 23px 4px 10px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
}

@mixin FormCalendar {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 15px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-image: $iconFormCalendar;
    padding: 4px 23px 4px 10px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
}


@mixin priceTag {
    font-family: $textFont;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: $primaryFontColor;
    @include mQ (992px) {
        font-size: 30px;
    }
}
@mixin priceSpan {
    font-family: $textFont;
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    @include mQ (992px) {
        font-size: 16px;
    }
}
@mixin addonPriceTag {
    font-family: $textFont;
    color: $primaryFontColor;
    font-size: 26px;
    font-weight: 600;
    @include mQ (992px) {
      font-size: 30px;
    }
}
@mixin iconExpand {
    background: $iconExpand!important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin iconCollapse {
    background: $iconCollapse!important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin iconClose {
    background: $iconCloseDarkDefault!important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    &:hover {
        background: $iconCloseDarkHover!important;
    }
}

@mixin formStyleElements {
    // box-shadow: inset 1px 1px 0 0 rgba(34, 34, 34, 0.2);
    background-color: #3a3738;
    color: $primaryFontColor;
    font-size: 14px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    height: 50px;
    font-family: $textFont;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    // border-radius: 3px;
    &:focus {
        // box-shadow: inset 1px 1px 0 0 #d8d8d8;
        border: solid 1px #fff;
        background-color: #3a3738;
        color: #fff;
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

#progress-steps {
    .pregress-steps-desktop {
      background-color: #6b7997;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-bottom: 0;
      line-height: 50px;
      span {
        color: #fff;
      }
      .active {
        background-color: #7ab9a9;
        font-weight: 500;
      }
      .past {
        background-color: #7ab9a9;
      }
    }
  }