// Fonts
$headingFont: 'EB Garamond', serif;
$textFont: 'Raleway', sans-serif;

// Custom grid columns padding
$colPadding: 20px;
$containerWidth: 1510px;
$mobileContainerPadding: 10px;

// Colours
$primaryFontColor: #222;
$secondaryFontColor: #222;
$lightFontColor: rgba(34, 34, 34, 0.5);
$bodyLinkColor: #222;
$primaryColor: #333;
$secondaryColor: yellow;
$pageBg: #fff;
$bookingSummaryBackgroundColor: rgba(34, 34, 34, 0.05);
$bookingSummaryBackgroundColorDesktop: rgba(34, 34, 34, 0.05);
$cardBackgroundColor: rgba(34, 34, 34, 0.05);
$modalDescription2Background: rgba(34, 34, 34, 0.05);;
$modalBackgroundColour: #fff;
$deviderColor: rgba(87, 86, 91, 0.3);
$bookingWidgetBg: #f4f4f4;

// Icons
$selectIcon: url(/images/icons/p3/icon-btn-next-period.svg);
$tickIcon: url(/images/icons/p3/icon-tick-square.svg);
$confirmationIcon: url(/images/icons/p3/icon-confirmation.svg);

$iconProgressComplete: url(/images/icons/p3/icon-progress-complete.svg);
$iconProgressDefault: url(/images/icons/p3/icon-progress-default.svg);
$iconInfoDarkDefault: url(/images/icons/p3/icon-info-dark-default.svg);
$iconInfoDarkHover: url(/images/icons/p3/icon-info-dark-hover.svg);
$iconInfoLightDefault: url(/images/icons/p3/icon-info-light-default.svg);
// $iconBtnNextMonth:
// $iconBtnPrevMonth:
// $iconBtnNextPeriod:
// $iconBtnPrevPeriod:
$iconBtnPrimaryUp: url(/images/icons/p3/icon-btn-primary-up.svg);
$iconBtnPrimaryDown: url(/images/icons/p3/icon-btn-primary-down.svg);
$iconBtnPrimaryDownHover: url(/images/icons/p3/icon-btn-next-period.svg);
$iconBtnPrimaryRight: url(/images/icons/p3/icon-btn-primary-right.svg);
$iconBtnPrimaryRightHover: url(/images/icons/p3/icon-btn-primary-right-hover.svg);
$iconExpand: url(/images/icons/p3/icon-expand.svg);
$iconCollapse: url(/images/icons/p3/icon-collapse.svg);
$iconCloseLightDefault: url(/images/icons/p3/icon-close-light-default.svg);
$iconCloseLightHover: url(/images/icons/p3/icon-close-light-hover.svg);
$iconCloseDarkDefault: url(/images/icons/p3/icon-close-dark-default.svg);
$iconCloseDarkHover: url(/images/icons/p3/icon-close-dark-hover.svg);
$iconSearchAgain: url(/images/icons/p3/icon-search-again.svg);
// $iconOpenGallery: 
$iconGalleryArrowRight: url(/images/icons/p3/icon-gallery-arrow-right.svg);
$iconGalleryArrowLeft: url(/images/icons/p3/icon-gallery-arrow-left.svg);
$iconInValid: url(/images/icons/p3/icon-form-invalid.svg);
$iconValid: url(/images/icons/p3/icon-form-valid.svg);
$iconMinStay: url(/images/icons/p3/icon-min-stay.svg);
// $iconCalendarArrowLeft:
// $iconCalendarArrowRight:
// $iconContactEmail:
// $iconContactHome:
// $iconContactAddress:
// $iconCardAmex:
// $iconCardMastercard:
// $iconCardVisa:
// $iconConfirmation:
// $iconProgress1of5: 
// $iconProgress2of5: 
// $iconProgress3of5: 
// $iconProgress4of5: 
// $iconProgress5of5: 
// $iconProgress1of3: 
// $iconProgress2of3: 
// $iconProgress3of3:
// $iconRoomSize:
// $iconBeds:
// $iconSleeps1:
// $iconSleeps2:
// $iconSleeps3:
// $iconSleeps4:
// $iconSleeps4Family: