@import "./variables";
@import "./resets";
@import "./mixins";
@import "./fonts";
@import "./p3mixins";
@import "./laravel";
@import "./p3";
@import "./header";
@import "./footer";

// Mobile Hamburger

// /* ALL */

#progress-steps .pregress-steps-desktop .active {
  &::after {
    content: '';
    position: absolute;
    right: -35px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #7ab9a9;
    transform: rotate(270deg);
    clear: both;
  }
}

.booking-summary-table {
  @include mQ(992px) {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  padding-top: 10px;
}
.booking-summary-data {
  p {
    &:nth-child(even) {
      text-align: right;
    }
  }
  @media screen and (max-width: 1200px) {
    padding-bottom: 20px;
  }
}
.room-content {
  @include mQ (992px) {
    min-height: 260px;
  }
}
.room-content .room-left-side li {
  font-style: normal;
}

.booking-summary-heading {
  h2 {
    font-weight: 700;
  }
  span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 1px;
    padding-left: 15px;
  }
}
#mobile-hotel-info {
  padding: 17px 0;
  background-color: #a5acb9;
  a {
    font-weight: 600;
  }
}

.desktop-sign-up {
  padding: 30px;
  background-color: #6b7997;
  &-content {
    padding-left: 20px;
    h2 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.63;
      margin-bottom: 20px;
    }
    .btn-primary {
      margin-bottom: 20px;
    }
  }
}
.strike-through {
  text-decoration: none;
  position: relative;
  &::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    display: block;
    background-color: #ffd75c ;
    top: 50%;
  }
}
.rates-wrapper .rate-ribbon {
  position: absolute;
    top: -15px;
    left: -30px;
    background:#7ab9a9;
    padding: 0 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:after {
      content: '';
      position: absolute;
      left: 109px;
      top: 7px;
      width: 0;
      height: 0;
      border-left: 12px solid #7ab9a9;
      border-right: 12px solid #7ab9a9;
      border-top: 0px solid transparent;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      clear: both;
    }
}
.rates-wrapper .mobile-rate-urgency {
  color: #fff;
  background-color: #f58220;
  font-weight: 600;
}
.rates-wrapper .mobile-rate-free-cancel {
  color: #fff;
  background-color: #7ab9a9;
  font-weight: 600;
}
#progress-steps .progress-steps-mobile h3 {
  font-size: 17px;
  font-size: 600;
}
#progress-steps .progress-steps-mobile span {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 992px) {
  .section-heading h2 {
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
  }
}
input[type=checkbox]:checked + span.custom-check:after {
  background-color: #ffd75c;
  border-radius: 3px;
}
input[type=radio]:checked + span.custom-check:after {
  background-color: #ffd75c;
  border-radius: 3px;
}
.addon-heading {
  h2 {
    @include mQ(992px) {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
    }
  }
  span {
    color: rgba(255, 255, 255, 0.5);
  }
}
.select-rate .strike-through {
  font-size: 16px;
  padding-top: 0;
  @include mQ(992px) {
    font-size: 18px;
  }
}
.room-right-side .price-section .strike-through {
  color: #fff;
}
.addons-total-row span {
  font-style: normal;
  font-size: 15px;
  padding-bottom: 4px;
  @include mQ (992px) {
    font-size: 16px;
  }
}
.addon-with-checkboxes-wrapper .addon-content span {
  padding-bottom: 1px;
}
.addons-total-row h4 {
  font-size: 22px;
  @include mQ(992px) {
    font-size: 30px;
  }
}
.booking-summary-room-name {
  color: #ffd75c;
  font-weight: 700;
}
.expand-special-request {
  text-decoration: none;
}
.payment-details-wrapper a {
  text-decoration: none;
}
.booker-details-wrapper .custom-select, .guest-details-wrapper .custom-select, .payment-details-wrapper .custom-select, .members-container .custom-select, .form-group input, .form-group textarea {
  color: #1b315f;
}
.payment-summary-extra .payment-summary-box {
  background-color: #6b7997;
  h4 {
    font-weight: 700;
  }
}
.booking-summary-room-heading p {
  text-align: left;
}
.confirmation-content-box h3 {
  font-size: 17px;
  font-weight: 700;
  @include mQ (992px) {
    font-size: 20px;
  }
}
.confirmation-content-box img {
  height: 200px;
}
.standard-modal .modal-header {
  border-radius: 0;
  background-color: #495a7f;
  @include mQ(992px) {
    background-color: transparent;
  }
}
.nav-tabs {
  a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #a5acb9;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  .active {
    background-color: #6b7997;
    color: #fff;
  }
}
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  border-color: #fff;
}
.calendar {
  .calendar-date {
    border-radius: 5px;
    border: none;
    @include mQ(992px) {
      border-radius: 0;
    }
    &:hover {
      box-shadow: none;
      .calendar-date-heading {
        color: #a5acb9;
      }
      .calendar-date-price {
        color: #1b315f;
      }
    }
    &:not(.calendar-date--disabled):hover {
      background-color: #ffd75c;
      color: #1b315f;
    }
    .calendar-date-price {
      color: #1b315f;
      font-weight: 700;
    }
    .calendar-date-heading {
      color: #1b315f;
      span {
        @include mQmax (992px) {
          color: #1b315f;
          font-weight: 600;
        }
      }
    }
  }
  .calendar-btn {
    @include mQmax(991px) {
      border-radius: 3px;
      border: solid 1px #ffd75c;
      color: #ffd75c;
    }
  }
}
.offers-form__filter .form-group select {
  color: #1b315f;
}
a {
  &:focus {color: #ffd75c;}
}
.offer-details__terms-link i {
  background: url(/images/icons/p3/icon-btn-next-period.svg);
}
a.offer-details__terms-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  &:active, &:focus {
    text-decoration: none;
  }
}
.offer__search {
  background-color: #495a7f;
}
.offer__search--widget .btn-offer {
  border-radius: 3px;
  border: solid 1px #ffd75c;
  color: #ffd75c;
  text-transform: uppercase;
  &:focus {
    color: #1b315f;
    background-color: #ffe38c;
    border: solid 1px #f1c66b;
  }
  &:hover {
    color: #1b315f;
    background-color: #f1c66b;
    border: solid 1px #f1c66b;
  }
  &:active {
    color: #1b315f;
    background-color: #f1c66b;
    border: solid 1px #f1c66b;
  }
}
.offer__calendar {
  background-color: #495a7f;
}
.offer__banner {
  background-color: #f1c66b;
  .btn-primary {
    border: 1px solid #1b315f;
    background-color: #1b315f;
    &:not(:disabled):not(.disabled):active {
      border: 1px solid #1b315f;
    }
  }
}
.offer__banner .confirm-block {
  color:  #1b315f;
  @include mQmax(991px) {
    h3, span {
      color:  #1b315f;
      font-weight: 700;
    }
  }
}
.offer__banner a.btn-primary--offer {
  @include mQmax(991px) {
    border: 1px solid #1b315f;
    background-color: #1b315f;
    &:not(:disabled):not(.disabled):active {
      border: 1px solid #1b315f;
    }
  }
}
.offer__banner .confirm-block--border {
  @include mQmax (991px) {
    border-left: solid 1px #1b315f;
  }
}
.btn-primary:hover .icon-chevron-down {
  background: url("/images/icons/p3/icon-btn-primary-down.svg")
}
#banner {
  height: 185px;
}
.addon-with-checkboxes-wrapper .addon-content {
  padding: 20px;
}
.card-style .addon-with-checkboxes-wrapper {
  h3 {
    margin-bottom: 20px!important;
  }
}
#progress-steps .pregress-steps-desktop {
  margin-bottom: 56px;
  margin-top: 0;
}
#banner {
  @include mQ(992px) {
    margin-bottom: 10px;
    border-top: 10px solid #495a7f;
  }
}
.hotel-gallery {
  border-left: 10px solid #495a7f;
  height: 176px;
}
#progress-steps .pregress-steps-desktop span {
  font-weight: 700;
}
.room-content .room-right-side .view-rates-btn {
  @include mQmax (991px) {
    padding: 12px 12px
  }
  @include mQmax (500px) {
    padding: 12px 20px
  }
}
.search-rates .booking-widget-search-rates {
  background-color: #6b7997;
}
.search-rates .booking-widget-search-rates .widget-form .guest-quantity button {
  border: 1px solid #ffd75c;
  background-color: #ffd75c;
  color:#1b315f;
}
.search-rates .booking-widget-search-rates .widget-form .guest-quantity .guest-widget-buttons .guest-widget-buttons-container .apply-btn {
  border-radius: 3px;
  border: 1px solid #ffd75c;
  background-color: #ffd75c;
  color:#1b315f;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background-color: #f1c66b;
    border: 1px solid #f1c66b;
  }
}
.search-rates .booking-widget-search-rates .widget-form .btn-secondary {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  border: solid 1px #ffd75c;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffd75c;
  &:hover {
    border: solid 1px #f1c66b;
    background-color: #ffe38c;
  }
}
.search-rates .booking-widget-search-rates .widget-form .guest-quantity button:disabled {
  background-color: #ffd75c;
  opacity: 0.3;
  border: none;
}