@import './variables';
@import './resets';
@import './mixins';
@import './p3mixins';
@import './p3';
@import './header';
@import './footer';
@import './laravel';

.container {
    @include mQ(991px) {
        max-width: $containerWidth;
    }
    @include mQmax(575px) {
        padding-left: $mobileContainerPadding;
        padding-right: $mobileContainerPadding;
    }
}

// Mobile Hamburger

// /* ALL */

.three{
    // padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // background-color: #2c3e50;
    color: #222222;
    text-align: center;
  }
  
  .hamburger .line{
    width: 30px;
    height: 5px;
    background-color: $primaryColor;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  #hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }

// Booking summary

.booking-summary-heading {
  h2 {
    font-family: $textFont;
    font-weight: 500;
    font-weight: 26px;
    text-transform: uppercase;
    font-weight: 600;
    @include mQ(1200px) {
      font-family: $headingFont;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
}
.booking-summary-data {
  p {
    @include mQ (992px) {
      font-size: 16px;
    }
    font-weight: 400;
  }
  p:nth-child(even) {
    text-align: right;
  }
  .booking-summary-table {
    p {
      width: 30%;
    }
    p:nth-child(even) {
      width: 70%;
    }
  }
}
.booking-summary-total-wrapper {
  h2 {
    width: 50%;
    @include mQmax (991px) {
      font-size: 18px;
    }
  }
  p:nth-child(even) {
    text-align: right!important;
  }
  h2:nth-child(even) {
    text-align: right!important;
  }
}


.booking-summary-heading {
  @include mQ(576px, 1200px) {
    padding: 10px 60px;
  }
  span {
    font-size: 13px;
    color: rgba(51, 50, 50, 0.5);
    font-family: $textFont;
    margin-left: 10px
  }  
}
.booking-summary-table {
  @include mQ(1200px) {
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
  .btn {
    margin: 10px 0 20px 0;
  }
}

.open-booking-summary-room-details {
  background: #000;
  width: 27px;
  height: 27px;
  border-radius: 25px;
  i {
    top: 3px;
    left: 3px;
    position: relative;
  }
}

// Loyalty Signup

.desktop-sign-up {
  background-color: #e8ecd4;
  margin-top: 30px;
  padding: 10px 10px;
  @include mQ(1400px) {
      padding: 40px;
  }
  h2 {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $primaryFontColor;
  }
  .desktop-sign-up-content {
    @include mQ(1200px) {
      padding: 10px 0 0 20px;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: $secondaryFontColor;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 15px;
    width: 100%;
    max-width: 186px;
    text-decoration: none;
  }
  img {
    object-fit: cover;
  }
}

.hotel-info-buttons .btn{
  border-radius: 25px;
}

#progress-steps {
  .pregress-steps-desktop {
    background-color: rgba(34, 34, 34, 0.05);
    margin-bottom: 20px;
    padding-bottom: 0;
    line-height: 50px;
    .active {
      background-color: #e8ecd4;
      font-weight: 500;
    }
    .past {
      background-color: #e8ecd4;
    }
  }
}

.page-top {
  margin-bottom: 20px;
  h2 {
    @include sectionHeading;
  }
}

.room-content .room-left-side li {
  font-family: $textFont;
  font-style: normal;
}

#banner {
  margin-bottom: 0px;
}

#banner h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-family: $headingFont;
  margin-top: 20px;
  margin-bottom: 25px;
}

#banner p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-family: $headingFont;
  margin-bottom: 35px;
}

.hotel-gallery {
  height: 236px;
  width: 100%;
  position: absolute;
  top: -209px;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rates-wrapper .mobile-rate-urgency {
  color: #e1574c;
}

@include mQ(992px) {
  .nav-tabs a {
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    padding: 17px 15px;
  }
}
.room-content .room-ribbon {
  background: #e1574c;
  &:after {
    border-left: solid 10px #cc4e44;
  }
}
.rates-wrapper .rate-ribbon {
  background: #adb971;
  &:after {
    border-right: solid 10px #8f9b54;
  }
  @include mQmax (992px) {
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 120px;
    &:after {
      display: none;
    }
    span {
      font-weight: 600;
    }
  }
}
.grid {
  @include grid (3, 10);
}

.section-heading {
  &:first-child {
    margin-top: 0;
  }
}

.addons-total-row {
  h4 {
    font-size: 22px;
    font-weight: 600;
    @include mQ (992px) {
      font-size: 36px;
    }
  }
  span {
    font-family: $textFont;
    font-style: normal;
    line-height: 23px;
  }
}
.addons-total-details .price-currency-decimal span {
  font-size: 18px;
  @include mQ(992px) {
    font-size: 20px;
  }
}

.addon-content .price-currency-decimal span {
  font-size: 18px!important;
  font-weight: 400!important;
  @include mQ(992px) {
   font-size: 20px!important;
  }
}

.addons-total-row span {
  font-size: 15px;
  line-height: 20px;
  @include mQ (992px) {
    font-size: 16px;
    line-height: 28px;
  }
}
.room-content {
  h2 {
    @include mQ (992px) {
      font-size: 40px;
    }
  }
  .main-price-curreny, .price-after-decimal {
    color: #222222;
    font-weight: 400;
    @include mQ (992px) {
      font-size: 22px;
    }
  }
}
.room-content .from-spam {
  font-weight: 400;
}
.rates-wrapper .select-rate-btn span {
  font-weight: 400;
}
.select-rate {
  @include mQ(992px) {
    .strike-through {
      color: #222;
      font-size: 18px;
    }
  }
}

.continue-btn {
  @include mQmax(991px) {
    margin-top: 12px;
  }
}
p.booking-summary-room-name{
  font-weight: 500;
}
.confirmation-content-box img {
  height: 200px;
  @include mQ(721px) {
    height: 250px;
  }
}
.confirmation-content-box .box-content {
  padding: 30px 15px 40px 15px;
  @include mQ (992px) {
    padding: 40px;
  }
}
.confirmation-content-box h3 {
  margin-bottom: 15px;
  @include mQ (992px) {
    margin-bottom: 20px;
  }
}

.booking-summary-data .booking-row {
  padding:7.5px 0;
}

.booking-widget {
  z-index: 999!important;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $primaryColor;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px;
  max-width: 500px;
  @include mQ(992px) {
    padding-top: 80px;
  }
  @include mQmax (500px) {
    overflow-y: hidden;
  }
  input {
    box-shadow: none;
    border: none;
    &:active, &:focus {
      box-shadow: none;
      border: none;
    }
  }
  a {
    padding: 15px 0;
    text-decoration: none;
    font-size: 25px;
    color: #abaaad;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    // margin-left: 50px;
    @include mQ(992px) {
      right: 40px;
      top: 5px;
    }
  }
  h2 {
    text-align: center;
    font-size: 35px;
    color: #f0f0f0;
    font-weight: 400;
    font-family: $headingFont;
    margin-bottom: 60px;
  }
  .widget-form {
    padding: 20px;
    @include mQ (992px) {
      padding: 20px 40px;
    }
    .form-control {
      color: #222;
      padding: 0 10px;
      height: 50px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-size: 15px;
      background-position: calc(100% - 8px) 50%;
      background-repeat: no-repeat;
      background-color: #fff;
      font-family: $textFont;
      &:hover {
          cursor: pointer;
      }
      option {
        background-color: #fff;
      }
      &::placeholder {
        color: #222;
        font-size: 15px;
        line-height: 24px;
      }
    }
    select {
      background-image: url(/images/icons/arrrow-dropdown-light.png)!important;
    }
    .booking-widget-datepicker {
      .form-control {
        background-image: url(/images/icons/calendar-light.png)!important;
      }
      .asd__wrapper {
        right: 0!important;
        top: 121px!important;
        left: 20px!important;
        @include mQ (991px) {
          right: 0!important;
          top: 240px!important;
          left: 40px!important;
        }
      }
    }
    .form-group {
      margin-bottom: 20px;
      @include mQ (992px) {
        margin-bottom: 30px;
      }
    }
    .promo-code {
      a {
        font-size: 15px;
        font-style: italic;
        font-family: $textFont;
        color: #fff;
        text-decoration: underline;
        margin-bottom: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .form-group {
        display: none;
      }
    }
    .btn-secondary {
      background: rgba(51, 50, 50, 0);
      border: solid 1px rgba(255, 255, 255, 0.8);
      color: #fff;
      &:hover {
        background: #fff;
        color: #333;
      }
    }
    .guest-quantity {
      position: relative;
      p {
        color: #fff;
        width: 100px;
      }
      .total-guests {
        margin-bottom: 20px;
        height: 50px;
        background: #fff;
        color: #222;
        padding: 10px 15px;
        p {
          color: #222;
          width: auto;
          line-height: 30px;
          &:after {
            content: "\2022";
            padding: 0 10px;
            color: #abaaad;
          }
          &:last-child:after {
            content: '';
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      button {
        text-align: center;
        height: 45px;
        min-width: 45px;
        border: solid 1px #333;
        color: #fff;
        border-radius: 2px;
        background-color: #333;
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
        &:disabled {
          border: solid 1px #ccc;
          color: #fff;
          background-color: #ccc;
        }
      }
      .guest-info {
        .room-number {
          margin: 20px 0;
          width: 100%;
          text-align: left;
          border-bottom: 1px solid rgba(87, 86, 91, 0.2);
          line-height: .1em;
          span {
            background-color: #fff;
            padding: 0 10px 0 0;
          }
          @include mQ (992px) {
            margin: 30px 0 40px 0;
          }
        }
        .align {
          padding: 0 0 0 20px;
          @include mQ (500px) {
            padding: 0 0 0 30px;
          }
        }
        .age {
          font-size: 18px;
          color: #abaaad;
        }
      }
      span {
        // margin: 0 20px;
        text-align: center;
        width: 50px;
        color: #222222;
        font-weight: 500;
        font-family: $textFont;
      }
      .guest-widget-buttons {
        @include mQmax (500px) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background-color: rgba(0,0,0,0.5);
        }
        .guest-widget-buttons-container {
          scroll-behavior: smooth;
          display: none;
          position: absolute;
          padding: 20px 15px;
          @include mQ (992px) {
            padding: 30px 20px 24px 20px;
          }
          background: #fff;
          width: 100%;
          margin-bottom: 30px;
          @include mQmax (500px) {
            // margin-left: -20px;
            bottom: 0;
            width: 100vw;
            margin-bottom: 0;
            height: 70vh;
            overflow-y: auto;
          }
          &:before {
            content:'';
            position: absolute;
            top: -10px;
            left: 0px;
            right: 0;
            margin-left: 20px;
            width: 0;
            height: 0;
            border-bottom: solid 10px #fff;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
          }
          p{
            color: #222;
            font-weight: 500;
            width: 100%;
          }
          .person-age {
            span {
              color: rgba(43, 43, 43, 0.5);
            }
          }
          .apply-btn {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            background-color: #222;
            border-radius: 2px;
            border: 1px solid #222;
            text-transform: uppercase;
            font-family: $textFont;
            width: auto;
            // height: 50px;
            padding: 0 30px;
            margin-top: 10px;
            float: right;
            border-radius: 25px;
            @include mQ (992px) {
              margin-top: 30px;
            }
            &:hover {
              cursor: pointer;
              background-color: #fff;
              border: 1px solid #222;
              color: #222;
            }
          }
        }
      }
    }
  }
}

.search-rates {
  .booking-widget-search-rates {
    margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      // z-index: 999!important;
      height: 100%;
      width: 100%;
      // position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: $primaryColor;
      // overflow-x: hidden;
      transition: 0.5s;
      padding-top: 0;
      max-width: 500px;

      @include mQmax (500px) {
        overflow-y: hidden;
      }
      input {
        box-shadow: none;
        border: none;
        &:active, &:focus {
          box-shadow: none;
          border: none;
        }
      }
      a {
        padding: 15px 0;
        text-decoration: none;
        font-size: 25px;
        color: #abaaad;
        display: block;
        transition: 0.3s;
        &:hover {
          color: #f1f1f1;
        }
      }
      .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 36px;
        // margin-left: 50px;
        @include mQ(992px) {
          right: 40px;
          top: 5px;
        }
      }
      h2 {
        text-align: center;
        font-size: 35px;
        color: #f0f0f0;
        font-weight: 400;
        font-family: $headingFont;
        margin-bottom: 60px;
      }
      .widget-form {
        padding: 20px;
        @include mQ (992px) {
          padding: 40px;
        }
        .error-message {
          color: #fff;
          padding-bottom: 20px;
        }
        .form-control {
          color: #222;
          padding: 0 10px;
          height: 50px;
          -webkit-appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background-size: 15px;
          background-position: calc(100% - 8px) 50%;
          background-repeat: no-repeat;
          background-color: #fff;
          font-family: $textFont;
          &:hover {
              cursor: pointer;
          }
          option {
            background-color: #fff;
          }
          &::placeholder {
            color: #222;
            font-size: 15px;
            line-height: 24px;
          }
        }
        select {
          background-image: url(/images/icons/arrrow-dropdown-light.png)!important;
        }
        .booking-widget-datepicker {
          .form-control {
            background-image: url(/images/icons/calendar-light.png)!important;
          }
          .asd__wrapper {
            right: 0!important;
            top: 121px!important;
            left: 20px!important;
            @include mQ (991px) {
              right: 0!important;
              top: 240px!important;
              left: 40px!important;
            }
          }
        }
        .form-group {
          margin-bottom: 20px;
          @include mQ (992px) {
            margin-bottom: 30px;
          }
        }
        .promo-code {
          a {
            font-size: 15px;
            font-style: italic;
            font-family: $textFont;
            color: #fff;
            text-decoration: underline;
            margin-bottom: 15px;
            &:hover {
              text-decoration: none;
            }
          }
          .form-group {
            display: none;
          }
        }
        .btn-secondary {
          background: rgba(51, 50, 50, 0);
          border: solid 1px rgba(255, 255, 255, 0.8);
          color: #fff;
          &:hover {
            background: #fff;
            color: #333;
          }
        }
        .guest-quantity {
          position: relative;
          p {
            color: #fff;
            width: 100px;
          }
          .total-guests {
            margin-bottom: 20px;
            height: 50px;
            background: #fff;
            color: #222;
            padding: 10px 15px;
            p {
              color: #222;
              width: auto;
              line-height: 30px;
              &:after {
                content: "\2022";
                padding: 0 10px;
                color: #abaaad;
              }
              &:last-child:after {
                content: '';
              }
            }
            &:hover {
              cursor: pointer;
            }
          }
          button {
            text-align: center;
            height: 45px;
            min-width: 45px;
            border: solid 1px #333;
            color: #fff;
            border-radius: 2px;
            background-color: #333;
            font-size: 18px;
            &:hover {
              cursor: pointer;
            }
            &:disabled {
              border: solid 1px #ccc;
              color: #fff;
              background-color: #ccc;
            }
          }
          .guest-info {
            .room-number {
              margin: 20px 0;
              width: 100%;
              text-align: left;
              border-bottom: 1px solid rgba(87, 86, 91, 0.2);
              line-height: .1em;
              span {
                background-color: #fff;
                padding: 0 10px 0 0;
              }
              @include mQ (992px) {
                margin: 30px 0 40px 0;
              }
            }
            .align {
              padding: 0 0 0 20px;
              @include mQ (500px) {
                padding: 0 0 0 30px;
              }
            }
            .age {
              font-size: 18px;
              color: #abaaad;
            }
          }
          span {
            // margin: 0 20px;
            text-align: center;
            width: 50px;
            color: #222222;
            font-weight: 500;
            font-family: $textFont;
          }
          .guest-widget-buttons {
            @include mQmax (500px) {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 0;
              background-color: rgba(0,0,0,0.5);
            }
            .guest-widget-buttons-container {
              scroll-behavior: smooth;
              display: none;
              position: releative;
              padding: 20px 15px;
              @include mQ (992px) {
                padding: 30px 20px 100px 20px;
              }
              background: #fff;
              width: 100%;
              margin-bottom: 30px;
              @include mQmax (500px) {
                // margin-left: -20px;
                bottom: 0;
                width: 100vw;
                margin-bottom: 0;
                height: 70vh;
                overflow-y: auto;
              }
              &:before {
                content:'';
                position: absolute;
                top: 60px;
                left: 0px;
                right: 0;
                margin-left: 20px;
                width: 0;
                height: 0;
                border-bottom: solid 10px #fff;
                border-left: solid 10px transparent;
                border-right: solid 10px transparent;
              }
              p{
                color: #222;
                font-weight: 500;
                width: 100%;
              }
              .person-age {
                span {
                  color: rgba(43, 43, 43, 0.5);
                }
              }
              .apply-btn {
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                background-color: #222;
                border-radius: 2px;
                border: 1px solid #222;
                text-transform: uppercase;
                font-family: $textFont;
                width: auto;
                // height: 50px;
                padding: 0 30px;
                margin-top: 10px;
                float: right;
                border-radius: 25px;
                @include mQ (992px) {
                  margin-top: 30px;
                }
                &:hover {
                  cursor: pointer;
                  background-color: #fff;
                  border: 1px solid #222;
                  color: #222;
                }
              }
            }
          }
        }
        }
      }
}

.hotel-info-buttons .btn {
  text-transform: uppercase;
}

.room-wrapper .room-image {
    @include mQ (992px){
      min-height: 260px;
    }
}
.icon-info {
  position: relative;
  top: 2px;

  &:hover {
    height: 16px;
    width: 16px;
    @include mQ (992px) {
      height: 24px;
      width: 24px;
    }
  }
  @include mQ (992px) {
    height: 24px;
    width: 24px;
  }
}

.payment-details-wrapper .icon-info {
  &:hover {
      height: 24px;
      width: 24px;
    }
}

@media screen and (min-width: 992px) {
  .rates-wrapper h3 a {
      font-size: 18px;
      line-height: 24px;
  }
}

.standard-modal .modal-body .modal-room-content .room-facilities span {
  color: #222;
  @include mQ(992px) {
    font-size: 16px;
  }
}
.room-modal-list li {
  margin-bottom: 5px;
}

.signup-modal-content .form-group input {
  background-color: #f4f4f4;
}
.member-login a {
  text-decoration: underline;
}

.currency-desktop-addons {
  margin-bottom: 20px;
}
.currency-desktop-guests {
  margin-bottom: 15px;
}
.dropdown-currency select {
  @include mQ (992px) {
    height: 50px;
  }
}