@import "./variables";
@import "./resets";
@import "./mixins";
@import "./fonts";
@import "./p3mixins";
@import "./laravel";
@import "./p3";
@import "./header";
@import "./footer";

/* nav menu */
/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background: #000; 
  overflow: hidden; 
  padding-top: 100px; 
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #EBE5DB;
  display: block;
  transition: 0.3s;
  letter-spacing: 1px;
}
.dropdown-btn .fa-caret-down {
  margin-left: 10px;
  float: none;
}
.sidenav .main-links {
  margin-bottom: 20px;
}
.bars {
  float: right;
  padding: 0 20px;
  margin-top: -7px;
  .fa-bars {
  font-size: 35px !important;
  }
}
.sidenav .main-links,
.sidenav .bottom-links {
  width: 100%;
  min-width: 320px;
  @include mQ(992px) {
  padding: 0 110px;
  width: 550px;
}
}
.hamburger {
  margin-right: 25px;
  span.icon-bar {
    background-color: #b7996d;
  }
}
.dropdown-currency {
  margin-right: 20px;
  @include mQ (992px) {
    margin-right: -16px;
  }
}
.sidenav .bottom-links a {
    font-size: 14px;
    color: #999 !important; 
  
  &:first-child {
    border-top: 1px solid #B7996D;
    padding-top: 30px;
    }}
.sidenav a:hover {
  color: #B7996D !important;
}
.sidenav .closebtn {
  position: absolute;
  top: 7px;
  right: 30px;
  font-size: 50px;
  margin-left: 50px;
  color: #b7995d !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* dropdown */
/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  text-decoration: none;
  font-size: 16px;
  color: #EBE5DB;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
 .dropdown-btn:hover {
  color: #b7995d;
}

// /* Main content */
// .main {
//   margin-left: 200px; /* Same as the width of the sidenav */
//   font-size: 20px; /* Increased text to enable scrolling */
//   padding: 0px 10px;
// }

/* Add an active class to the active dropdown button */
.active {
  color: #b7995d;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 30px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 10px;
}

/* modals */
/* info tabs */
.nav-tabs .active {
  background-color: #474344;
  color: #b7996d;
  @include mQ (992px) {
    background-color: transparent;
  }
}
.nav-tabs a {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 10px;
}
.large-image {
  width: 100%;
}
.modal-open .modal {
  background:rgba(41, 38, 36, 0.9); 
}
.tab-content .info-tab {
  padding: 0;
}
.tab-content .modal-heading h2 {
  letter-spacing: 4px;
}
.tab-content p {
  margin-bottom: 0
}
.modal-body p {
  margin:  0 0 20px 0;
}
.tab-content .tab-property-details p {
  margin-bottom: 8px;
}
.checkin-time, 
.checkout-time {
  font-size: 15px;
  letter-spacing: 1px;
  color: #b7996d;
  text-transform: uppercase;
}
.checkin-time {
  margin-bottom: 5px !important; 
}
@media screen and (min-width: 992px) {
.tab-content .info-tab {
    padding: 0;
}
}
@include mQ(992px) {
.wrap-all {
  width: 100%;
 max-width: 1110px;
 margin: 0;
}
.col-lg-7 {
  padding: 25px;
}
#infoTab .col-lg-7 {
  padding: 0;
}
}
.tab-content .description-2 {
  margin: 15px;
  @include mQ (992px) {
    margin: 0;
  }
}
.tab-map-cover {
  padding: 0 20px;
  @include mQ (992px) {
    padding: 0;
  }
  button {
    margin-top: 20px;
  }
}
@include mQ(992px) {
  .tab-content .description-2 {
    padding: 20px;
    float: left;
    width: 555px;
    margin-top: 30px;
    @include mQ(1200px) {
      width: 615px;
    }
  }
  .tab-content .description-2 p {
    width: 50%;
    float: left;
    background: #3a3738;
    margin: 0;
    padding: 19px 20px;
}
}

@media screen and (min-width: 992px) {
.tab-content .gallery-tab {
    padding: 0;
    margin: 0;
}
}
@media screen and (min-width: 992px) {
.tab-content .gallery-slider img {
    height: 600px;
}}
@include mQ (992px){
  .modal-dialog {
      width: 95%;
  }
  }
@media (min-width: 1200px){
.modal-dialog {
    max-width: 1110px;
}
}
/* rooms modal */
@include mQ(992px) {
.standard-modal .modal-body.room {
  padding: 0;
  margin-bottom: 0;
}
}
@include mQ(992px) {
  .standard-modal .room-modal-slider {
    margin-bottom: 0;
  }
}
@include mQ(992px) {
  .modal-features-list {
    width: 100%;
  }
}

/* filters modal */
@include mQ(992px) {
.filters-modal {
  .modal-dialog {
  width: 700px;
  height: 425px;
  margin-top: 60px;
}
 h2 {
font-size: 22px;
font-weight: 100;
letter-spacing: 4px;
text-transform: uppercase;
}}
}
.filters-modal 
{
  .guest-text {
  font-size: 14px;
}
 input[type=checkbox]:checked + span.custom-check:after {
  width: 14px;
  height: 14px;
}
 span.custom-check {
  width: 14px;
  height: 14px;
  min-width: 14px;
  top: 3px;
}
  label {
    margin-bottom: 1.5em;
  }
  @include mQ(922px){
  .bg {
    background-color: #474344;
    border-bottom: 1px solid #333331;
    padding: 1.5rem 1rem;
  }
  .modal-body {
    margin-top: 0 !important;
  }
}
  .modal-body {
    margin-top: 50px;
  }
  .filter-buttons {
    text-align: right;
    button:first-child,
    button:nth-child(2) {
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding: 0;
    }
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled):focus  {
      border: 1px solid transparent!important;
    }
    button:nth-child(2) {
      margin: 0 20px;
    }
  }
}

@include mQ(992px) {
.filters-modal .icon-close {
  margin-top: 12px !important;
  margin-right: 20px !important;
}
}
.modal-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* rate info modal */
.cancellation-policy,
.terms {
  font-size: 16px;
  margin-bottom: 1rem;
  letter-spacing: .75px;
  text-transform: uppercase;
}

/* terms modal */
@media screen and (min-width: 992px){
 #termsModal .modal-dialog {
    width: 95%;
    height: 425px;
    margin-top: 20vh;
}
}
.large-image img {
  width: 100%;
}
/* booking widget */
// .form-group input, .form-group textarea {
//   background-color: #474344 !important; 
//   color: #fff !important;
// }
.booking-widget-modal .widget-room-label {
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100
}
.widget-wrapper button {
  text-transform: capitalize;
}

.terms-modal {
  text-align: left;
}
.terms-modal h2 {
  letter-spacing: 4px;
}
@media screen and (min-width: 992px){
.room-modal ul.room-modal-list {
  columns: 1;
  padding: 0px 52px;
  width: 50%;
  list-style-position: outside;
  line-height: 2em;
}
.modal-features-list p {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 36px;
}
}
.standard-modal .modal-body .modal-room-content h2 {
  letter-spacing: 4px;
  margin-top: 45px;
}
.hotel-info-wrapper {
  padding: 20px 15px;
  @include mQ (992px) {
    padding: 20px 30px;
  }
}
.nav-tabs,
.nav-tabs a {
  background-image: none;
}
.modal-features-list { 
  background: #3a3738;
  float: left;
  width: 100%;
  padding-left: 20px;
}
.modal-features-list .room-modal-list {
  float: left;
}
.modal-room-price {
  color: #b7996d;
}
.tab-property-details {
  font-size: 14px;
}

/* offers-list */
.offers-form__filter .form-group select {
background-image: url(http://127.0.0.1:8887/images/icons/p3/icon-form-dropdown.svg);
background-size: 20px;
border: solid 1px rgba(255, 255, 255, 0.3);
background-color: #3a3738;
}
.offers-form__filter-btn a {
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
}
@include mQ(992px){
.offers-form__filter .form-group {
  width: 220px;
  float: left;
  margin-right: 25px;
}
}
@media (min-width: 992px){
.mr-lg-5, .mx-lg-5 {
    margin-right: 2rem!important;
}
}
@media screen and (min-width: 992px){
.offers-form__category {
    margin-bottom: 10px;
}
}
.offers-form__heading {
  color: #b7996d;
}
@media screen and (min-width: 992px){
.offers-form__heading {
    font-size: 30px;
    font-family: trojanpro;
    margin: 80px 0 30px 0;
    letter-spacing: 1.6px;
}}
@media (min-width: 992px){
.mr-lg-5, .mx-lg-5 {
    margin-right: 1rem !important;
}
.offers-form__filter .form-group {
  margin-right: 0;
  }
}
@media screen and (min-width:1200px){
  .offers-form__filter .form-group {
  margin-right: 25px;
  }
  .mr-lg-5, .mx-lg-5 {
    margin-right: 2rem !important;
  }
  }

/* offer-landing page */
.offer-details__offer-available {
  color: #b7996d;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.offer-details__terms-link {
  font-size: 14px;
}
.offer-details__content ul {
  margin-left: 0;
  line-height: 1.5;
  @include mQ(992px) {
    margin-left: 40px;
  }
}

@media screen and (min-width: 992px) {
.offer-details__image { 
    height: 339px;
    width: 350px;
}
}
.offer__search--widget .form-group select {
  background-color: #474344;
  border: 1px solid #474344;
}
@include mQ(992px) {
.offer-details__content {
  padding-left: 20px;
}
}
.offer__search {
  background-color: #1a1919;
}
.offer__search--widget .btn-offer {
  border-radius: 0;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.offers--social-media-share .fa {
  background: #b7996d;
  border: 2px solid #b7996d;
  color: #474344;
  transition: all .5s;
}
.offers--social-media-share .fa:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #474344;
}
.offer__calendar {
  background-color: #474344;
}
.container .calendar-heading {
  font-size: 22px;
  color: #fff;
  margin: 30px 0;
  font-family: "museosans";
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 100;
}
.container .calendar {
  margin-top: 60px;
}
.calendar .calendar-date {
  border-radius: 0; 
  border: none;
  background-color: #3a3738;
  border: 1px solid #3a3738;
}
.calendar-weekday {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.calendar .calendar-date .calendar-date-heading {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  @include mQ(992px) {
    color: #fff;
    font-size: 12px;
  }
}
.calendar .calendar-date.calendar-date--disabled {
  opacity: 1; 
}
.calendar .calendar-date-price {
  @include mQ(992px) {
  margin-top: 20px;
}
}
.fa-spin {
  color: #fff;
}
@include mQ(992px) {
.calendar img {
  margin-top: 10px;
}
.fa-spin {
  color: #fff;
  margin-bottom: 20px;
}
}
.calendar-date:hover {
  box-shadow: none;
}

.offer__banner .confirm-block {
  font-size: 18px;
  letter-spacing: 1px;
}
.offer__banner .confirm-block h3 {
  font-family: "museosans";
  font-size: 26px;
  text-transform: uppercase;
}
.offer__banner a.btn-primary--offer {
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.offer__search--widget .form-group select {
  background-image: url("/images/icons/p3/icon-form-dropdown.svg");
  background-size: 20px;
}
.offer-details .offers--social-media-share .fa {
  color: #1a1919;
}

@media (max-width:991px){
  .offers-list__article .btn.btn-primary {
    width: 100% !important;
  }
}

/* header */
header {
  padding: 0;
}
.sliding-buttons-container {
  position: absolute;
  left: -300px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.7s;
}
.sliding-buttons-container:hover{
  left: 0;
  transition: all 0.7s;
}
.booking {
  padding: 37px 30px;
  background-color: #b7996d;
  color: #1a1919;
  border: none;
  transition: all 0.7s;
  &:hover {
    color: #fff;
    background: #000; 
  }
}
.booking:last-child:hover {
 color: #000;;
 background: #b7996d;
 cursor: default !important;
}
.desktop-logo {
  width: 135px;
  margin: auto;
  margin-left: 43%;
}
.desktop-nav__top {
  margin-bottom: 0;
  position: relative;
  padding: 12px 0;
}
.desktop-nav__top-links .fa {
  font-size: 22px;
  color: #b7996d;
  transition: all .5s;
  &:hover {
    color: #fff;
  }
}
.desktop-nav__top-links,
.phone-number {
  padding-right: 20px;
  margin-top: 20px;
}
.desktop-nav__top-links img{
  height: 20px;
  margin-top: -10px;
}
 .phone-number a{
   font-size: 22px;
   color: #b7995d;
   transition: all .5s;
   &:hover {
     color: #fff;
   }
}
.dektop-nav__bottom {
  margin-left: -48px;
}
.navbar-nav .nav-link {
  margin-right: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);;
  padding: 1px;
  transition: all .5s;
}
.navbar-nav li:last-child .nav-link {
  border-right: none;
}
.dektop-nav__bottom .dropdown-currency select {
  border: none;
  font-size: 18px;
  color: white;
  margin-left: 30px;
  font-family: "museosans";
  background-color: black;
  background-image: url(http://127.0.0.1:8887/images/icons/p3/icon-form-dropdown.svg);
  background-size: 14px;
  opacity: .5;
  letter-spacing: 2px;
  transition: all .5s;
  font-weight: 100;

&:hover {
  opacity: 1;
}
&:focus {
  border: none;
}
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
}

/* room & rates */
.notification {
  padding: 23px 20px;
  background: #b7996d;
  color: #fff;
  margin: 50px 0 0 0;
  img {
    float: left;
    margin-right: 20px;
  }
  h5 {
    font-size: 16px;
    letter-spacing: .75px;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 576px) {
  .view-rates-btn {
    padding: 13px 7px !important;
  }
}
.section-heading h1 {
  text-align: center;
  font-family: trajanpro;
  font-size: 20px;
  letter-spacing:1.6px;
  color: #b7996d;
  line-height: 1.7;
  @include mQ(992px) {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
.pr-custom {
  padding-right: 15px;
  margin: auto;
}
}
.filters {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  margin: 25px 0;
  float: right;
  opacity: .5;
  transition: all .5s;
  clear: both;
  @include mQ (992px) {
    margin: 110px 0 25px 0;
  }

  &:hover {
    opacity: 1;
  }
}
.filters > p {
  letter-spacing: 1px;
  cursor: pointer;
}
.icon-filter-down {
  background: $iconFilterDown;
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-bottom: -1px;
}
@media screen and (min-width: 992px){
.room-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}}
.room-content h3 {
  letter-spacing: 1px;
}
.room-content .price,
.room-content .availability,
.offers-list__article--offer-available {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.addon-content .price,
.room-content .price,
.offers-list__article--offer-available {
  font-size: 15px;
  color: #b7996d;
}
.mobile-layout-price {
  margin-top: 10px;
  max-width: 130px;
  margin-bottom: 0 !important;
}
.room-content .availability {
  color: rgba(255, 255, 255, 0.5);
}
.room-desc {
  margin: 15px 0 10px 0;
}
.room-content .more-desc {
  margin-bottom: 30px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
@media screen and (min-width: 992px){
.rates-wrapper h3 a {
    letter-spacing: 4px;
    text-transform: uppercase;
}
}
@media (min-width: 992px){
.rates-wrapper h3 {
    padding-top: 4px;
}}
.align-items-end {
  padding-right: 20px;
  padding-bottom: 15px;
 @include mQ(992px){
  padding-bottom: 12px;
 }
 
}
.rate-container .align-items-end span:first-child {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 2px;
}
.rate-container .r-price {
  color: #b7996d;
  letter-spacing: 1px;
  font-size: 16px;
}

.rate-container button {
    font-size: 15px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 11.5px 18.5px;
    margin-bottom: -8px;
    border: 1px solid transparent;
    margin-left: 20px;
    margin-right: -22px;
    transition: all .5s;
    @include mQ (992px) {
      font-size: 16px;
    }
  &:hover {
    color:  #b7996d;
  }
  &:active {
    border: 1px solid #b7996d; 
    color: #b7996d;
  }
  &:focus {
    border: 1px solid #fff; 
    color: #fff;
  }
}
.room-wrapper .col-lg-7 {
  @include mQ(992px) {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
.row-extra-fields {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    max-width: calc(100% - 226px);
    grid-gap: 5px;
}
.form-group {
  margin-bottom: 5px;
}
}
.side-button {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 100;

.btn-offer {
    width: 100%;
    background-color: rgba(51, 50, 50, 0);
    color: #fff;
    border-radius: 25px;
    border: solid 1px rgba(255, 255, 255, 0.8);
    font-weight: 600;
    height: 50px;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 300;
}
  @include mQ(992px) { 
  width: 222px;
  // padding-right: 15px;
}
@include mQ(1200px) { 
  width: 222px;
}
}

#show-unavailable {
  width: 100%;
  margin-bottom: 50px;
  .button
 {
  text-align: center; 
  padding: 0 15px;
  
  .btn-primary {
  text-transform: capitalize !important; 
  width: 100%; 
  height: 52px;
  @include mQ (992px) {
    width: 251px;
  }
  }
}
  h1 {
    margin: 40px 0;
  }
}
.unavailable-rooms {
   display: none;
   padding: 0 15px;

   .view-rates-btn {
     width: 100%;
     height: 52px;
     @include mQ (992px) {
       width: 181px;
     }
   }
}
.room_rates__search--widget {
.form-group.people select,
.row-extra-fields
.form-group.people select {
  background-image: $iconFormPeople;
}
.form-group.bed select {
  background-image: $iconRoomBed;
}
.ui-datepicker-trigger {
  position: relative;
  top: -45px;
  left: 185px;
}
}
.row-extra-fields .form-group select {
  background-color: #3a3738;
  color: #fff;
  font-size: 14px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  height: 50px;
  font-family: "museosans";
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #474344;
  border: 1px solid #474344 !important;
  border: none;
  font-size: 15px;
  font-weight: 300;
  height: 51px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-size: 15px;
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  background-image: url(http://127.0.0.1:8887/images/icons/p3/icon-form-people.svg);
  padding: 4px 23px 4px 10px;
}

.row-extra-fields p {
  color: #b7996d;
  text-transform: uppercase;
  text-align: right;
  padding: 15px 10px;
}
.side-button .promo-code-link {
  margin-top: 20px;
}

.promo-code {
  min-width: 211px;
  float: right;
  text-align: right;
}
.promo-code-link {
  font-size: 14px !important;
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 5px 8px 0;
  display: inline-block;
}
.promo-code {
  input {
  width: 222px;
  float: right;
}
.form-group {
  margin-bottom: 0;
}
}
.widget-size {
  max-width: calc(100% - 251px);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  float: left;
  p {
      margin-top: 16px;
      color: #b7996d;
      text-align: right;
      padding-right: 15px;
      text-transform: uppercase;
  }
}
.extra-booking-widget-row {
  display: grid;
  margin-right: 6px;
  .form-group {
    width: 140px;
  }
}
// .desktop-slider,
// .unavailable-rooms-slider {
//   width: 100%;
//   height: 337px;
// }
.slick-dots {
  margin-top: -50px;
  bottom: 10px;
  li {
    margin: 0;
  }
  li button:before {
    color: #fff !important;
    opacity: 1;
  }
}
.slick-dotted.slick-slider {
 margin-bottom: 0;
}
.view-rates-btn {
  text-transform: capitalize;
}
.no-rooms-avail {
    position: absolute;
    top: 162px;
    right: 0px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(51, 51, 49, 0.7);
    padding: 1px 1px 0 5px;
    @media screen and (min-width: 768px)
    {
      top: 315px;
    }
}
.rates-wrapper h3 a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #474344;
  border: 1px solid #474344;
}
.room_rates__search--widget .booking-widget-datepicker {
  .form-control {
      background-image: url(/images/icons/p3/icon-form-datepicker.svg)!important;
      background-size: 15px;
      background-position: calc(100% - 8px) 50%;
      background-repeat: no-repeat;
  }
}
@media (min-width: 992px) {
.room-wrapper .col-md-7 {
  padding-right: 0;
  padding-left: 0;
}
}
@media screen and (min-width: 768px){
.room-content {
    /* padding: 49px 20px; */
    // min-height: 210px;
    margin-top: 0;
}
// .rates-wrapper {
//   padding: 0 30px;
// }
}
@include mQmax(768px) {
  .rates-wrapper {
  padding: 0 30px;
  }
}
/* confirmation page */
@media screen and (min-width: 992px) {
.conf-card {
    width: 100%;
}
}
.booking-room-image img { 
  width: 100%;
  height: 100%;
}
.conf-extra-bookings {
  text-align: center;
h2 {
  letter-spacing: 4px;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.9;
  margin: 10px 0;
  font-weight: 100;
}
button {
  margin-top: 30px;
}
}
@media screen and (max-width: 1200px){
.conf-card {
    margin-top: 0;
}}
.booking-data p:first-child {
 color: rgba(255, 255, 255, 0.5);
}
 @media screen and (min-width: 1200px) {
  .conf-card .booking-summary-room-name, .booking-summary-room-row-expanded {
    width: 103%;
}
}
@include mQ(992px) {
.conf-card .booking-summary-rooms-section p.booking-summary-room-name {
  margin-left: -10px;
}
}


/* guest detials */
.guest-details-wrapper img {
  @include mQ(992px) {
    width: 145px;
    height: 90px;
  }
}
.booker-details-wrapper,
.guest-details-wrapper,
.payment-details-wrapper {
  @include mQ(992px) {
    width: 730px;
  }
}
.btn-secondary {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  border: none;
  font-weight: 100;
  font-size: 15px;
  color: #b7996d;
  padding: 0;
  text-transform: capitalize;
  text-decoration: underline;

  &:hover {
    background: transparent;
    border: none;
    text-decoration: underline;
  }
}
.booking-summary-total-wrapper .booking-data h2 {
  font-size: 16px;
}
@media screen and (min-width: 1200px){
#booking-summary .booking-summary-data {
    padding: 0 30px;
}
}
@media screen and (min-width: 1200px) {
#booking-summary {
  width: 350px;
  margin-left: 15px;
}
}
.first-heading {
  margin-top: 10px;
}
.booking-summary-heading .icon-expand {
    background: url(http://127.0.0.1:8887/images/icons/p3/icon-expand.svg) !important;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    right: 3px;
}

.booking-summary-data .booking-summary-room-name .icon-expand {
  top: 5px;
}
.booking-summary-total-wrapper .booking-data h2:last-child {
  padding-left: 10px;
}
.booking-summary-room-name,
.booking-summary-room-row-expanded {
  width: 102%;
  background: #474344;
  // margin-bottom: 10px;
  margin-left: -7px;
  padding-left: 7px;
  @include mQ(1200px) {
    width: 103%;
  }
}
.booking-summary-room-heading {
  margin-bottom: 15px;
  position: relative;
}

.booking-summary-room-row-expanded { 
  background: #474344;
  padding-right: 10px;
}
.booking-summary-room-name {
  margin-bottom: 0;
  padding: 8px 0 8px 7px;
}
.message{
  background: #3a3738;
  padding: 15px;
  margin-top: 10px;
  font-size: 13px;
  width: 100%;
  @media only screen  and (min-width:992px) and (max-width: 1199px){
    padding: 10px 15px;
  }
  @include mQ (1200px) {
    padding: 10px 30px;
  }
}
.card-declined-message {
  background: #b7996d;
  color: #fff;
  padding: 10px;
  width: 100%;
  padding-right: 15px;
  @include mQ (992px) {
    
    padding: 20px;
  }
}
.display-unavailability-message {
  position: absolute;
  background: rgba(71, 67, 68, 0.7);
  width: 100%;
  padding: 20px;
  margin-top: -120px;
  text-align: center;

  p {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @include mQ(678px) {
    margin-top: -195px;
  }
}
@include mQ(678px) {
  .room-left-side {
    width: 100%;
  }
}

@include mQ(992px) {
.display-unavailability-message {
    width: 650px;
    padding: 20px;
    margin-top: 13%;

    p {
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
}
}
.desktop-slider {
  visibility: hidden;
}
.slick-initialized { 
  visibility: visible; 
}

@media screen and (min-width: 992px){
.booker-details-wrapper, .guest-details-wrapper, .payment-details-wrapper {
   width: 100%;
}}
@media screen and (min-width: 992px){
  #guestDetailsForm .card-style {
     margin-bottom: 0; 
}
}
.expand-special-request {
  font-size: 14px;
}
.payment-details-wrapper {
  margin-bottom: 50px !important;
}


/* extras */
@include mQ(992px) {
  #addOnsForm {
    // width: 730px;
    clear: both;
  }
}
// .addon-with-checkboxes-wrapper img {
//   width: 100%;
//   // height: 210px;
//   object-fit: cover;
//   // @include mQ (992px) { 
//   //   height: 100%;
//   //   width: 100%;
//   // }
// }
.section-heading span {
  text-align: center;
  display: block;
  font-size: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 100;
}
.addon-content .price {
  text-transform: uppercase;
  margin-top: 15px;
}
.addon-info {
 margin: 20px 0;
}
.addon-buttons {
  @media (max-width: 992px) {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  }
  .addon-messages {
    margin-top: 5px !important;
  }
  
  button {
    line-height: 20px;
  }
  .single-btn {
   float: right;
  }
}
.addon-content select,
.addon-buttons button {
  width: 120px;
  height: 46px;
}
 .addon-content select {
  background-color: #3a3738;
  color: #fff;
  font-size: 14px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  font-family: "museosans";
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: url(/images/icons/p3/icon-form-dropdown.svg);
  float: left;
  margin-right: 20px;
}
.form-control:focus {
  background-color:  #3a3738;
  color: #fff;
  border: 1px solid #fff;
}
.price-currency-decimal,
.addons-total-details span {
  font-size: 14px;
}
.addons-total-details .price-currency-decimal span {
  font-size: 14px !important;
}
.addons-total-details.align-items-end {
  padding-bottom: 7px;
}
.addons-total-row {
  margin-top: 15px;
  margin-bottom: 60px;
  span {
    font-style: normal;
  }
}
.addon-content span {
  font-size: 14px !important;
  text-decoration: underline;
  color: #fff !important;
}
.addon-with-checkboxes-wrapper .addon-content h3 {
  padding-left: 30px;
  @media (min-width: 992px){
    padding-left: 0;
  }
}
.booking-summary-heading {
  background-color: #474344;
  padding: 10px 10px 10px 15px;
  @include mQ (1200px) {
    padding: 30px;
    background: #3a3738;
  }
 h2 {
padding-right: 10px;
font-size: 15px;
letter-spacing: 2px;
@include mQ (992px) {
  font-size: 18px;
}
}
 span {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 100;
}
}
@include mQ(992px) {
.addon-heading-row {
  float: right !important;
  margin-right: -20px;
}
}
@include mQ(1200px) {
.addon-messages {
  margin-left: 15px;
}
}
.top-padding {
  padding-top: 30px;
}

/* footer */
.footer__wraper  .column {
  width: 100%;
  text-align: center;
}
.container, .container form {
  max-width: 1130px;
  position: relative;
}
@include mQ(992px) {
 .footer__wrapper {
  width: calc(100% - 40px);
  max-width: 1400px;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .footer__wrapper .column {
  // width: calc(25% - 40px);
  box-sizing: border-box;
  text-align: left;
 }
}
.column .logo img {
  width: 250px;
  height: 125px;
}
.phone {
  letter-spacing: 2px;
  padding-bottom: 30px;
  font-weight: 600;
}
.enquires {
  line-height:1.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 300;
}
.enquires > span {
  font-weight: 600;
}
.footer--social-media-share {
  margin-left: -15px;
  font-size: 18pt;
}
.footer--social-media-share .fa {
  margin-left: 15px;
  font-size: 18pt;
  color: #B7996D;
  transition: all 0.5s;
}
.footer--social-media-share .fa:hover {
  color: #fff;
}
.footer--social-media-share img {
  margin-left: 15px;
  width: 20px;
  margin-top: -5px;
}
.footer__copyright {
  letter-spacing: 1px;
  font-weight: 100;
}

/* calendar date */
.calendar-date {
padding: 0 10px;
}

.calendar .justify-content-end {
  justify-content: space-between !important;
}
.clear-fix {
  clear: both;
}

.booking-widget-modal .booking-widget-datepicker .form-control {
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: #3a3738;
}
.widget-wrapper .promo-code {
input {
  width: 100%;
  margin-bottom: 20px;
}
  float: none;
}

.booking-widget-modal select {
  background-image: url("images/icons/p3/icon-form-people.svg") !important;
}
.desktop-slider {
  visibility: hidden;
}
 .desktop-slider.slick-initialized {
  visibility: visible;
}