@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473e47; 
    line-height: 22px;
    font-size: 15px;
}

h1, .h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:#716C70 ; 
    font-size: 26px!important;
}

h2, .h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 400;
    color:  #716C70; 
    font-size: 26px!important;
}
h3, .h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px!important;
    font-weight: 400;
    color:  #473e47;
}
h4, .h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color:  #473e47; 
}
h5, .h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:  #473e47; 
    font-size: 17px;
}


p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473e47; 
    line-height: 1.4;
    font-size: 15px;
}

.reverse {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
}

.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate180 {
    transform: rotate(180deg);
}

/* ------------------------ */

/* Components */

.btn {
    font-family: Nunito!important;
    font-weight: 600!important;
    border-radius: 1px!important;
    font-size: 16px!important;
}

.btn-secondary {
    background-color: #a54b89!important;
    border: none!important;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: #844882!important;
}
.btn-white {
    background-color: #fff!important;
}
.btn-white:hover {
    background-color: #473e47!important;
    color: #fff!important;
}
.btn:focus {
    box-shadow: none!important;
}
.btn-blue {
    background-color: #00aebb!important;
    border: none!important;
    color: #fff!important;
}
.btn-blue:hover {
    background-color: #02929d!important;
}

a, a:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #a54b89!important;
    text-decoration: none!important;
    font-weight: 600;
}

a.link2, a.link2:hover {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #473e47!important;
    font-weight: 400;
}

svg {
    width: 50px;
    height: 20px;
    transition:width 2s ease;
    overflow: visible;
}

.custom-sep {
    width: 50px;
    display: block;
    margin: 20px 0;
}

a.link-btn {
    font-family: Nunito;
    font-weight: 600;
    border-radius: 1px;
    background-color: #a54b89;
    color: #fff!important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%!important;
    display: inline-block;
    text-align: center;
}

a.link-btn:hover {
    text-decoration: none;
}

.nav-item a {
    font-weight: 400;
}

li {
    font-family: Nunito;
    color: #473e47;
}

.feature ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.feature li {
    line-height: 1.63;
    padding-left: 1em; 
    text-indent: -20px;
    padding-bottom: 10px;
    font-size: 15px;
}
.feature li::before {
    content: "• ";
    color: #a54b89;
    padding-right: 8px;
}

.slider li::before,  .social-channels li::before {
    display: none;
}

.not-slider img {
    width: 100%;
}

.standard-slider .slick-dots {
    text-align: center!important;
    right: 0!important;
}
.standard-slider img {
    width: 100%;
    height: 100%;
}
.btn-dark {
    background-color: #473e47!important;
    border-color: #473e47!important;
    border-radius: 1px;
}
.btn-dark:hover {
    background-color: #3a323a!important;
    border-color: #3a323a!important;
}

/* .navbar-brand {
    width: 210px;
    height: 37px;
    padding: 0 0 0 10px!important;
} */


/* Social Icons Main */

.social-channels {
    padding-left: 0;
    margin: 40px 0;
}

.social-channels li {
    display: inline-block;
    margin: 0 13.3px;
}

.social-channels .fa { 
    height: 40px;
    width: 40px;
    background-color: #a54b89;
    color: #fff;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 50%;
}
.social-channels .fa:hover { 
    background-color: #844882; 
    cursor: pointer; 
}

/* Newsletter */

.newsletter {
    background-color: rgba(71, 62, 71, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 60px;
}

.newsletter span { 
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
.newsletter p { 
    font-size: 15px;
    color: #fff;
    line-height: 1.47;
}
.newsletter .input {
    border-radius: 1px;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    color: #413b40;
    font-size: 16px;
    padding: 5px 10px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    border: 0px solid;
    padding-bottom: 7px;
    height: 50px;
}
.submitBtn {
    /* width: 100%; */
    font-weight: normal;
    background-color: #00aebb!important;
    height: 50px;
    color: #fff!important;
    padding: 0 30px;
}
.submitBtn:hover {
    background-color: #02929d!important;
    color: #fff;
}

.guest-form .submitBtn {
    width: 100%;
}
.guest-form .form-control:focus {
    box-shadow: none;
    border-radius: 2px;
    border: solid 1px #473e47;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 10px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url(/public/images/svg/dropdown-arrows.svg);
}

/* Footer */

footer {
    background-color: #473e47;
    padding: 44px 0 21px 0;
}

.footer-top {
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    padding-bottom: 70px;
}

footer p, footer li {
    color: #fff;
}

footer a {
    color: #fff!important;
    font-weight: 400;
    opacity: 0.5;
}
footer a:hover {
    opacity: 1;
}
footer a:hover {
    color: #fff!important;
    font-weight: 400;
    text-decoration: none;
}
footer ul {
    padding-left: 0;
    font-size: 16px;
}
footer li {
    list-style: none;
    padding-bottom: 10px;
}
footer li:last-child {
    padding-bottom: 0px;
}
.footer-bottom-nav li:after {
    opacity: 0.5!important;
}

/* .footer-desktop-nav li {
    opacity: 0.5;
} */

.social-channels-footer {
    padding-left: 0;
}
.social-channels-footer a {
    opacity: 1;
}

.social-channels-footer li {
    display: inline-block;
}
ul.social-channels-footer {
    padding: 20px 0;
    border-top: 1px solid #665a66;
    margin-bottom: 0;
    margin-top: 20px;
}

.social-channels-footer .fa { 
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #473e47;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 50%;
}
.social-channels-footer .fa:hover { 
    background-color: #fff; 
    cursor: pointer; 
}
.social-channels-footer li:not(:last-child) { 
    padding-right: 15px;
}

.footer-bottom p {
    margin-bottom: 10px;
}
.social-channels-footer .fa-facebook-f {
    padding-left: 0px;
    padding-top: 6px;
}
.social-channels-footer .fa-instagram {
    padding-left: 0px;
    padding-top: 6px;
}
.social-channels-footer .fa-linkedin {
    padding-left: 0px;
    padding-top: 5px;
}
.footer-bottom-nav {
    text-align: center;
    margin-top: 30px;
}
.footer-bottom-nav li {
    display: inline-block;
    /* opacity: 0.5; */
}
.mobile-footer-nav {
    text-align: center;
}
ul.footer-master-nav {
    column-count: 2;
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

#multiple-selected .btn-group-vertical>.btn, .btn-group>.btn {
    background: #fff;
    text-align: left;
    height: 50px;
    border-radius: 2px;
    border: solid 1px rgba(113, 108, 112, 0.3);
    color: #473e47!important;
    overflow: hidden;
}
#multiple-selected .btn-group-vertical>.btn, .btn-group>.btn:focus {
    border-radius: 2px;
    border: solid 1px #473e47;
    box-shadow: none;
}
.btn-group, .btn-group-vertical {
    width: 100%
}
.multiselect-selected-text {
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.multiselect-container .dropdown-menu .show, ul.multiselect-container {
    width: 100%!important;
}
ul.multiselect-container {
    border: solid 1px #473e47!important;
    border-radius: 0;
    margin-top: 0;
}
.multiselect-container a {
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #473e47!important;
}
.multiselect-container label.checkbox:focus {
    outline-color: rgba(255, 255, 255, 0)!important;
}
.multiselect-container>li>a:focus {
    outline-color: rgba(255, 255, 255, 0)!important;
}
/* .multiselect-container li.active {
    background-color: #eae9ea;
} */
/* .multiselect-container>li {
    padding: 10px 0!important;
} */
.multiple-selected li.disabled {
    background-color: red!important;
}
.multiselect-container .form-group input[type=checkbox], .multiselect-container .form-group input[type=radio],.multiselect-container label input[type=checkbox],.multiselect-container label input[type=radio] {
    display: inline-block!important;
    vertical-align: middle;
    margin-right: 5px;
}
.multiselect-container .guest-form input,.multiselect-container .guest-form select,.multiselect-container .guest-form textarea {
    height: 15px;
}

span.checkbox {
    background: #fff;
    border: 1px solid hsla(198,5%,61%,.5);
    margin-right: 10px;
    border-radius: 0;
}
span.checkbox, span.custom-radio {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
    top: -2px;
    position: relative;
}
input[type=checkbox]:checked+span.checkbox:after {
    content: "\f00c";
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    line-height: 20px;
    text-align: center;
    animation: form-zoom .5s ease-in-out;
    padding: 0px 2px;
    background: #a54b89;
    position: absolute;
    left: -1px;
    top: -1px;
}

.checkbox-group .d-flex {
    margin-bottom: 10px;
} 


/* fix for large slider h3 */

.large-slide-text h3, .home-slide-text h3 {
    margin-bottom: 10px!important;
}

.booking-widget-modal {
    padding: 0!important;
}
.booking-widget-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
}
.booking-widget-modal .modal-content {
    border-radius: 0;
    border: 0;
    height: auto;
    background-color: #473e47!important;
    min-height:  100%;
    width: 100%;
}

/* Modal Core */

.modal {
    -webkit-overflow-scrolling: touch!important;
}

.modal-content {
    border-radius: 0!important;
    min-width: 100%;
    min-height: 100%;
    border: none!important;
    background-color: transparent!important;
}
.modal-dialog {
    margin: 0!important;
    height: 100%;
    min-width: 100%!important;
}
.modal-header {
    height: 56px!important;
    background-color: #eae9ea;
    display: block!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    z-index: 20;
    width: 100%!important;
    position: fixed!important;
}
.modal-header span {
    position: relative;
    font-size: 25px;
    top: 3px;
}
.modal-header a {
    position: relative;
    top: -10px;
    color: #a54b89!important;
}
.modal-body {
    background-color: #fff;
    padding: 56px 18px 18px 18px!important;
}

.modal-content .modal-header a {
    color: #a54b89!important;
}

/* ------------------------------------------------------------------------------------ */
/* Booking Engine */

#currency-options {
    border: none!important;
    border-radius: 1px;
    font-size: 14px;
    padding: 7px 5px;
    outline: none;
    width: 80px;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #eae9ea;
    color: #a54b89;
    font-weight: 600;
}

#top-bar {
    background-color: #eae9ea;
    margin-bottom: 10px;
}

#top-bar form {
    border-left: 1px solid rgba(0, 0, 0, 0.19);
    height: 50px;
    padding-left: 10px;
}
#top-bar li { 
    display: inline-block;
    color: #a54b89;
    /* padding: 14px 0; */
    border-right: 1px solid rgba(255, 255, 255, 0.27);
    font-weight: 600;
    font-size: 15px;
}
#top-bar ul {
    padding-left: 10px;
    margin-bottom: 0;
}
#top-bar .fa {
    padding-right: 7px;
}
.mobile-new-search a {
    background-color: #a54b89;
    padding: 14px;
    color: #fff!important;
}
.mobile-new-search p {
    padding-left: 10px;
    color: #fff!important;
}
.mobile-new-search {
    background-color: #595159;
    font-size: 15px;
}
.ibe-join-mobile {
    position:fixed;
    bottom: 0;
    background-color: #00aebb;
    width: 100%;
    z-index: 15;
    height: 40px;
    padding: 4px 10px;
}
.ibe-join-mobile-btn a {
    background-color: #fff;
    padding: 4px 15px;
    color: #00aebb!important;
    border-radius: 1px!important;
    font-size: 16px;
    font-weight: 600;
}
.ibe-join-mobile p {
    color: #fff!important;
    font-size: 16px;
    font-weight: 600;
    margin-left: 7px;
}
a.ibe-join-mobile-close {
    background-color: #00aebb;
    color: #fff!important;
    padding: 0;
    font-size: 20px;
}
.step-cover {
    margin-bottom: 30px;
}
.step-cover li {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #473e47;
    padding-right: 12px;
}
.step-cover span {
    padding: 0 6px;
    /* height: 20px!important; */
    /* width: 20px!important; */
    background-color: #473e47;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.step-inactive span {
    background-color: rgba(113, 108, 112, 0.6);
}
.step-cover li.step-inactive {
    color: rgba(113, 108, 112, 0.6);
}
.multi-room-display h2 {
    font-size: 20px!important;
    color: #473e47;
    margin-right: 10px;
}
.multi-room-display span {
    font-size: 15px!important;
    color: #716c70;
    font-family: 'Roboto Slab', serif;
}
.multi-room-display {
    margin-bottom: 40px;
}
#ibe .main-room {
    background-color: #eae9ea;
    overflow-x: hidden;
    margin-bottom: 30px;
}
.main-room-content {
    padding: 10px 10px 20px 10px;
}
.main-room-content h3 {
    font-size: 16px!important;
}
.main-room-icons img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.main-room-icons p {
    margin-bottom: 0;
    line-height: 1.13;
    color: #716c70;
    font-size: 15px;
}
.main-room-icons {
    margin-bottom: 5px;
}
.show-rates {
    margin-top: 11px;
}
.show-rates .btn-secondary {
    height: 45px;
}
.show-rates .cashback h4 {
    font-size: 15px;
    color: #473e47;
    margin-bottom: 0;
    line-height: 1.4;
    padding-left: 5px;
}
.show-rates .cashback span {
    font-size: 14px;
    color: #00aebb;
}
.show-rates .room-stay-details h4 {
    font-size: 17px;
    color: #a54b89;
    margin-bottom: 0;
    line-height: 1.1;
    padding-left: 5px;
}
.show-rates .room-stay-details span {
    font-size: 15px;
    color: #716c70;
}
.rates-list {
    padding: 10px;
    /* border-top: 1px solid #ccc; */
}
span.rates-list-nights {
    font-size: 15px;
    color: #716c70;
    text-align: right;
}
.rates-list h3 {
    font-size: 17px!important;
    color: #473e47;
}
.rates-list p {
    margin-bottom: 6px;
}
.rates-list b {
    color: #009c55;
}
.rates-list:before {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.discount-applied p {
    color: #fff;
    background-color: #00aebb;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.view-room-btn {
    width: 100%;
}
.main-room .btn  .fa {
    color: #fff!important;
    margin-top: 3px;
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none!important;
}
.main-room-img img {
    height: auto; 
    width: 100%;
    object-fit: contain;
}
.cashback span, .cashback h4, .room-stay-details h4 {
    font-family: 'Roboto Slab', serif;
}
.room-stay-details span, .rates-list-nights {
    font-family: 'Nunito', sans-serif;
}
.my-booking-info {
    padding: 10px;
}
.booking-data {
    padding: 0 10px;
    border-bottom: 1px solid #d8d8d8;
}
.booking-data-last {
    border-bottom: none!important;
}
.my-booking-cover {
    border-radius: 2px;
    /* border: solid 1px #d8d8d8; */
    box-shadow:inset 0px 0px 0px 1px #d8d8d8;
}
.my-booking-heading {
    background-color: rgba(71, 62, 71, 0.9);
    width: 100%;
}
.my-booking-heading h2{
    padding: 15px 20px;
    font-family: 'Nunito', sans-serif!important;
    font-size: 17px!important;
    color: #fff!important;
}
.booking-data p {
    margin: 10px 0;
    width: 50%;
}
.my-booking-heading .fa {
    color: #fff;
    position: relative;
    top: 10px;
    right: 10px;
    /* padding-right: 20px;
    padding-top: 10px; */
}
.my-booking-cover {
    margin-bottom: 30px;
}
.my-booking-info {
    display: none;
}
.main-room-img-container {
    position: relative;
}
.ibe-fav {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
}
.ibe-zoom {
    position: absolute;
    bottom: 5px;
    width: 26px;
    right: 5px;
}
.my-booking-heading.d-none a:hover {
    background-color: #844882;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* #ibe .btn {
    border-radius: 1px!important;
} */

/* Guest */

.guest-form {
    padding: 20px 10px 10px 10px;
    background: #eae9ea;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
}
.guest-form label {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 5px;
    color: #473e47;
}

.guest-form input, .guest-form select, .guest-form textarea {
    height: 50px;
    border-radius: 2px;
    border: solid 1px rgba(113, 108, 112, 0.3);
}
.checkbox-group input {
    height: auto;
}
span.custom-check {
    background: #fff;
    border: 1px solid hsla(198,5%,61%,.5);
    margin-right: 10px;
    border-radius: 0;
}
span.custom-check, span.custom-radio {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
    top: -2px;
    position: relative;
}
input[type=checkbox]:checked+span.custom-check:after {
    content: "\f00c";
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    line-height: 20px;
    text-align: center;
    animation: form-zoom .5s ease-in-out;
    padding: 0px 2px;
    background: #a54b89;
    position: absolute;
    left: -1px;
    top: -1px;
}
.form-group input[type=checkbox], .form-group input[type=radio], label input[type=checkbox], label input[type=radio] {
    display: none;
}
.guest-form .custom-select {
    width: 80px!important;
}
.guest-form .input-group>.custom-select {
    flex: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 10px;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url(/public/images/svg/dropdown-arrows.svg);
    border: solid 1px rgba(113, 108, 112, 0.4);
}
.custom-select:focus {
    box-shadow: none!important;
    border-color: #9e9e9e;
}
.guest-form .checkbox-group label {
    color: #404f51;
    font-size: 15px;
}
.booking-details {
    text-align: center;
    background-color: rgba(71, 62, 71, 0.9);
    border-radius: 2px;
    padding: 12px 10px 14px 10px;
    margin-bottom: 20px;
}
.booking-details p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
}
.booking-details h4 {
    font-size: 17px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    line-height: 1.29;
}
.booking-details-middle {
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}
.my-booking-table p {
    font-size: 15px;
}
.rate-info-guest-form {
    padding: 0 10px;
}
.rate-info-guest-form b {
    color: #009c55;
    font-weight: 600;
}
.guest-form-card label ul{
    margin: 0;
    padding: 0;
    float: right;
}
.guest-form-card li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
    margin-left: 1px;
}
.guest-form-card .fa-info-circle {
    color: #a54b89;
    font-size: 20px;
    margin-top: 45px;
}
.submit-btn {
    height: 50px;
    width: 100%;
}
.t-and-c a {
    font-weight: normal;
    display: contents;
}
label.t-and-c{
    font-size: 15px;
}
.extra-details {
    display: contents;
}
.booking-row-cashback p {
    color: #00aebb;
    font-family: 'Roboto Slab', serif;
}
.booking-row-total p {
    font-size: 20px;
    font-weight: bold;
}
.booking-row-rate .booking-data p {
    width:100%;
    margin: 0 0 5px 0;
}
.booking-row-rate .booking-data b {
    color: #009c55;
}
.booking-row-rate img {
    width: 40px;
    height: 30px;
    margin-right: 5px;
}

.currency-note {
    background-color: #00aebb;
    padding: 10px;
    color: #fff;
}
p.currency-note {
    line-height: 20px!important; 
}

/* Conf Page */

#conf-page-content {
    text-align: center;
}
#conf-page-content p {
    font-size: 15px;
    margin: 30px 0;
}
#conf-page-content h2 {
    margin: 42px 0 25px 0;
}
#conf-page-content .my-booking-info {
    display: block;
    background-color: #eae9ea;
    text-align: left;
    margin-bottom: 20px;
}
#conf-page-content .my-booking-info p {
    margin: 10px 0;
}
.conf-info-head h3 {
    color: #473e47;
    font-family: 'Nunito', sans-serif!important;
    font-size: 24px!important;
}
.conf-info-head p {
    color: #716c70;
    font-family: 'Nunito', sans-serif!important;
    font-size: 24px;
}
.conf-info-head {
    margin-bottom: 20px;
}
.conf-page-cashback {
    background-color: #00aebb;
    text-align: left!important;
    padding: 10px;
}
.conf-page-cashback h3 {
    color: #fff;
    margin-bottom: 10px!important;
}
.conf-page-cashback p {
    color: #fff;
    margin: 0!important;
    font-weight: 600;
    font-size: 16px!important;
}
.my-booking-info b {
    color: #a54b89!important;
}
#conf-page-content .booking-row-total p {
    font-size: 20px!important;
}
.modal-tabs .modal-body {
    padding: 56px 0 0 0!important;
}
.nav-tabs a {
    display: block;
    padding: 15px 0;
}
.nav-tabs li {
    width: 25%;
    text-align: center;
}
.gallery-tab {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.map-tab {
    border-right: 1px solid #ccc;
}
#ibe .nav-tabs {
    border-bottom: none;
}
#ibe .nav-tabs a.active {
    color: #473e47!important;
    border-bottom: none!important;
}
#ibe .nav-tabs a {
    font-weight: 600!important;
    border-bottom: 1px solid #ccc;
}
#ibe .tab-content {
    padding: 28px 10px 20px 10px;
}
#ibe .tab-content h2 {
    font-size: 22px!important;
    margin-bottom: 32px!important;
}
#ibe .tab-property-details {
    margin-left: 10px;
    margin-bottom: 40px;
}
#ibe .tab-property-details p {
    color: #716c70;
    padding-top: 3px;
}
#ibe .tab-facilities {
    margin-bottom: 30px;
}
.tab-info-footer .btn {
    width: 100%;
    height: 45px;
}
.tab-info-footer .text-right {
    margin-bottom: 10px;
}
.tab-info-footer .btn-secondary {
    margin-bottom: 20px;
}
.tab-info-footer span {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #716c70;
}
.tab-info-footer b {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #473e47;
    font-weight: 400;
}
.tab-list-facilities li {
    display: inline-block;
    margin-bottom: 15px;
    /* padding-right: 20px; */
}
ul.tab-list-facilities {
    padding-left: 0;
}
#ibe .tab-list-facilities img {
    margin-right: 8px;
}
#ibe .tab-list-facilities span {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #473e47
}