@media (max-width: 320px) { 
    span.custom-check, span.custom-radio {
        width: 28px;
    }
 }
@media (max-width: 767px) { 
    ul.tab-list-facilities {
        column-count: 2;
    }
    .tab-list-facilities li {
        width: 100%;
    }
 }
@media (min-width: 576px) { 
    .tab-list-facilities li {
        padding-right: 10px;
    }

 }
@media (min-width: 768px) { 
    .tab-info-footer .btn, .tab-info-footer .text-right  {
        margin-bottom: 0px!important;
    }
 }

@media only screen and (max-width: 991px) {

    /* Expand text */
    .small {
        height: 70px;
        overflow: hidden;
    }

    .big {
        height: auto;
    }

    .expand-more {
        position: relative;
        width: 100% !important;
        -webkit-box-shadow: 0px -15px 14px #fff;
        -moz-box-shadow: 0px -15px 14px #fff;
        box-shadow: 0px -15px 14px #fff;
    }

    .expand-more:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }

    .expand-more:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }

    .expand-more a {
        background: #fff;
        padding: 0 10px;
        margin-bottom: 40px;
        font-weight: 600;
    }

    .expand-more a:active,
    .expand-more a:focus {
        text-decoration: none;
    }

    .mobile-nav-wrapper {
        padding: 12px 5px;
        width: 100%;
    }

    /* Main Navigation */

    .navbar {
        background-color: #473e47;
        padding: 0 !important;
    }

    .navbar a {
        color: #fff !important;
    }

    .navbar .dropdown-menu {
        background-color: #473e47 !important;
    }
    .nav-item {
        padding: 5px 30px;
        border-top: solid 1px rgba(255, 255, 255, 0.2);
    }

    .dropdown-menu {
        border: none !important;
        padding: 0 !important;
    }

    .dropdown-item {
        background-color: #3a323a !important;
        padding: 13px 55px !important;
        border-top: solid 1px rgba(255, 255, 255, 0.2) !important;
    }

    .navbar-nav .dropdown-menu {
        /* position: absolute!important; */
        width: 100%;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .nav-item.dropdown {
        padding: 0;
    }

    a.nav-link.dropdown-toggle {
        padding: 10px 30px;
        display: block;
    }

    .dropdown .fa {
        font-size: 25px;
    }

    /* Hamburger */

    .icon-bar {
        width: 22px;
        height: 2px;
        background-color: #B6B6B6;
        display: block;
        transition: all 0.2s;
        margin-top: 4px
    }

    .navbar-toggler {
        border: none;
        background: transparent !important;
    }

    .navbar-toggler .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .navbar-toggler .middle-bar {
        opacity: 0;
    }

    .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    .navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
    }

    .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler:active {
        border: none !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    a.link-btn {
        text-transform: uppercase;
    }

    .imageTimeline figure {
        height: 31vw;
    }

    .imageTimeline img {
        height: 100%;
        width: 100%;
    }

    .mobile-btns {
        background-color: #473e47;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
    }

    .mobile-btns a {
        width: 50%;
        padding: 13px 0;
        color: #fff !important;
    }

    a.btn-book-mobile {
        background-color: #a54b89;
    }

    
    .footer-bottom-nav li:nth-child(1):after {
        content:"\2022";
        padding-left: 5px;
    }
    .footer-bottom-nav li:nth-child(2):after {
        content:"\2022";
        padding-left: 5px;
    }
    .slick-dotted.slick-slider {
        margin-top: 20px;
    }
    .widget-nigts select, .widget-location select, .widget-hotel select, .widget-rooms select, .rooms_list select {
        width: 100%;
        height: 50px;
        margin: 5px 0;
    }
    .widget-checkin {
        width: 100%;
    }
    .p-10px {
        padding: 5px;
    }
    #booking-widget-banner input, #booking-widget-banner select {
        border: none!important;
        border-radius: 1px;
        font-size: 14px;
        padding: 7px 10px;
        outline: none;
        width: 100%;
        height: 50px;
    }
    #booking-widget-banner .btn-secondary {
        height: 50px;
        width: 100%;
    }
    #booking-widget-banner.homepage-widget .extra-rooms .room-number {
        position: relative;
        top: 20px;
        left: 15px;
        color: #fff; 
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        margin-right: 40px;
    }
    .custom-room-extra .widget-adults, .custom-room-extra .widget-children {
        width: 31.5%;
    }
    .custom-room-extra .widget-adults {
        margin-right: 10px;
    }
    /* .modal-content a {
        color: #fff!important;
    } */
    .close-modal {
        margin: 29px 0;
    }
    #top-bar .container{
        padding: 0!important;
    }
    .px-mob-10 {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .main-room-content .fa-info-circle {
        color: #a54b89;
        padding-top: 3px;
    }

}

@media (min-width: 992px) { 

    /* body */

    p {
        line-height: 26px;
        font-size: 16px;
    }
    a, a:hover {
        font-size: 16px;
    }
    h1, .h1 {
        font-size: 38px!important;
        margin-bottom: 30px;
    }
    h2, .h2 {
        font-size: 32px!important;
        margin-bottom: 30px;
    }
    .reverse {
        flex-direction: row;
        -webkit-flex-direction: row;
 
    }
    .custom-sep {
        margin: 30px 0;
    }
    a.link-btn{
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        border-radius: 1px;
        background-color: rgba(0,0,0,0);
        color: #473e47!important;
        padding: 0;
        text-align: left;
        width: auto!important;
        margin: 30px 0;
    }

    
    .imageTimeline figure { 
        width: 16.25%; 
        overflow: hidden; 
        position: relative;
        height: 16vw;
    }
    .imageTimeline figure img{ 
        width: 100%; 
        overflow: hidden; 
        position: relative;
        height: 100%;
    }
    .imageTimeline figure figcaption .imgButtons { top: 20px; }

    .social-channels .fa { 
        height: 50px;
        width: 50px;
        background-color: #a54b89;
        color: #fff;
        padding-top: 13px;
        font-size: 25px;
        border-radius: 50%;
    }
    .social-channels li {
        margin: 0 15px;
    }
    .social-channels {
        margin: 63px 0;
    }
    .newsletter {
        padding: 40px 0 25px 0;
        margin-top: 60px;
    }
    .newsletter .input {
        max-width: 263px;
    }
    .newsletter .submitBtn {
        max-width: 263px;
        border: none;
    }
    .newsletter span { 
        font-size: 34px;
        margin-bottom: 8.5px;
    }
    .newsletter p { 
        font-size: 17px;
        color: #fff;
        line-height: 1.53;
    }
    .footer-bottom-nav {
        margin-top: 21px;
    }
    .footer-top {
        padding-bottom: 50px;
        width: 80%;
    }
    .social-channels-footer .fa-facebook-f {
        padding-left: 8px;
        padding-top: 6px;
    }
    .social-channels-footer .fa-instagram {
        padding-left: 6px;
        padding-top: 6px;
    }
    .social-channels-footer .fa-linkedin {
        padding-left: 7px;
        padding-top: 5px;
    }
    .mobile-footer-nav {
        text-align: left;
    }
    .footer-bottom-nav li:after {
        content:"\2022";
        padding: 0 5px 0 10px;
    }
    .footer-bottom-nav li:last-child:after {
        display: none;
    }
    ul.footer-master-nav {
        column-count: 1;
    }
    /* Modal Core */
    
    .modal-content {
        border-radius: 0!important;
    }
    .modal-dialog {
        height: auto;
        min-width: 707px!important;
        margin-top: 100px!important;
        margin-bottom: auto!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .modal-custom .btn {
        margin-bottom: 26px;
        width: 232px;
    }
    .modal-header {
        height: 20px!important;
        background-color: transparent;
        display: block!important;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
        z-index: 20;
        width: auto!important;
        position: relative!important;
        padding: 0!important;
        margin-bottom: 10px;
        border-bottom: none!important;
    }
    .modal-header a {
        color: #fff!important;
    }
    .modal-body {
        background-color: #fff;
        padding: 40px!important;
    }

    #ibe .modal-dialog {
        max-width: 1000px!important;
    }

    .slick-dots {
        bottom: 20px!important;
        right: 20px!important;
    }
    .slick-dots li button:before {
        font-size: 12px!important;
    }
    /* Main Nav */

    .navbar-brand img {
        margin-left: 0px;
    }

    .nav-width-container .col-lg-4 {
        margin-bottom: 20px;
    }

    .navbar {
        background-color: #473e47;
    }

    .navbar a {
        color: #fff!important;
        font-size: 15px;
        font-weight: 400;
    }
    #property-nav a {
        font-size: 17px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 25px 10px!important;
    }

    .navbar-text li {
        display: inline-block;
        padding: 5px;
    }
    nav .nav-width-container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        border: none;
        background: #3a323a;
        margin-top: 0;
    }
    .dropdown-menu span {
        font-size: 14px;
        color: rgba(234, 233, 234, 0.6);
        margin-left: 15px;
    }
    .dropdown-menu h4 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0;
    }
    .dropdown-menu .card-body {
        background-color: #473e47;
        padding: 10px 15px 15px 15px;
    }
    .dropdown-menu .card {
        border: none;
        border-radius: 0!important;
    }
    .dropdown-menu {
        border-radius: 0!important;
        padding: 30px 0!important;
    }
    .multi-row-nav h3 {
        color: #fff;
        position: relative;
        margin-bottom: 14px;
    }
    .multi-row-nav h3:after {
        content: "";
        display: block;
        width: 92%;
        height: 1px;
        background: #473e47;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }
    .multi-row-nav h4 {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
    }
    .multi-row-nav p {
        font-size: 14px;
        font-family: 'Nunito', sans-serif!important;
        color: rgba(234, 233, 234, 0.6);
        margin-bottom: 0;
    }
    .multi-row-nav .card-body {
        padding: 14px auto auto 13px;
        min-height: 100px;
        width: 220px;
    }
    .multi-row-nav li {
        display: inline-block;
    }
    .multi-row-nav ul {
        padding-left: 0;
        display: flex;
        margin-bottom: 30px;
    }
    .add-nav-hover, .nav-item:hover  {
        background-color: #3a323a;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
      }
    .dropdown:hover>.dropdown-menu .position-static.show{
        background-color: #3a323a;
      }
    .navbar {
        padding: 0 1rem!important;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        background-color: #473e47!important;
    }
    .dropdown-toggle::after {
        display: none!important;
    }
    .navbar-nav .card img {
        opacity: 0.9;
    }
    .card:hover img {
        opacity: 1;
    }
    .navbar-nav .card:hover .card-body {
        background-color: #554a55;
    }
    .navbar-nav .card {
        background-color: #3a323a;
    }
    .small-cards img {
        opacity: 0.9;
    }
    .small-cards .apt-img img{
        height: 100%;
        width: 100px;
        object-fit: cover;
    }
    .small-cards:hover img {
        opacity: 1;
    }
    .small-cards .card-body:hover {
        background-color: #554a55;
    }
    .home-ft-large h2 {
        margin-bottom: 13px;
        font-size: 32px!important;
    }
    .home-3-boxes .col-lg-4 {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    #property-nav {
        background-color: #716c70;
        margin-bottom: 60px;
    }
    #property-nav .nav-link {
        padding: 12px 30px!important;
    }
    #property-nav .nav-item:hover {
        background-color: #473e47;
    }
    #property-nav .nav-item.active {
        background-color: #473e47;
    }
    #property-nav {
        border-top: 8px solid #00aebb;
    }
    #ft-property-details {
        margin-bottom: 100px;
    }

    .slick-prev, .slick-next {
        display: none!important;
    }
    .standard-slider:hover .slick-prev,.standard-slider:hover .slick-next {
        display: block!important;
    }
    
    .standard-slider .slick-prev {
        left: 0;
        z-index: 5;
        padding-left: 30px!important;
        padding-top: 225px!important;
        padding-bottom: 225px!important;
        padding-right: 200px;
    }
    .standard-slider .slick-prev:before {
        content: ' \25C0';
    }
    .standard-slider .slick-next {
        right: 0px;
        padding-left: 200px!important;
        padding-top: 225px!important;
        padding-bottom: 225px!important;
        padding-right: 30px;
    }
    .standard-slider .slick-next:before {
        content: ' \25BA';
    }
    

    #booking-widget-banner input, #booking-widget-banner select {
        border: none!important;
        border-radius: 1px;
        font-size: 14px;
        padding: 7px 10px;
        outline: none;
        width: 100%;
        height: 50px;
        box-shadow: 0 1px 2px 0 rgba(65, 59, 64, 0.4);
    }
    .homepage-widget {
        background-color: #473e47!important;
        padding: 10px 0;
        margin: 45px 0;
    }
    #booking-widget-banner .btn-secondary {
        height: 50px;
        width: 95%;
    }
    .p-5px {
        padding: 0 3px!important;
    }
    .widget-checkin {
        max-width: 135px;
        height: 50px;
    }
    .widget-nigts {
        width: 105px;
        height: 50px;
    }
    .widget-location {
        width: 110px;
        height: 50px;
    }
    .widget-hotel {
        width: 153px;
        height: 50px;
    }
    .widget-rooms {
        width: 100px;
        height: 50px;
    }
    .widget-adults, .widget-adults option {
        width: 100px;
        height: 50px;
    }
    .widget-children {
        width: 100px;
        height: 50px;
    }
    .rooms_list {
        margin-left: 12px;
        background-color: #473e47!important;
    }
    #booking-widget-banner.homepage-widget .extra-rooms {
        position: relative;
    }
    #booking-widget-banner.homepage-widget .extra-rooms .room-number {
        position: absolute;
        left: -97px;
        top: 5px;
        color: white;
    }
    #booking-widget-banner {
        height: 70px;
    }
    .custom-room-extra, .room-number {
        background-color: #473e47!important;
    }
    .no-bg.custom-room-extra ,.no-bg.room-number {
        background-color: rgba(71, 62, 71, 0)!important;
    }
    .custom-room-extra {
        margin-top: 5px;
        right: 3px;
        z-index: 9;
    }
    .room-number {
        height: 55px;
        width: 303px; 
        padding-left: 35px;
        padding-top: 9px;
    }
    .custom-room-extra select {
        margin-left: 3px;
    }
    #property-wrapper .homepage-widget {
        background-color: transparent!important;
    }
    .property-banner {
        height: 373px;
    }
    .property-banner h1 {
        color: #fff;
        text-align: center;
        padding-top: 114px;
        font-size: 49px!important;
    }


    /* Top Bar */
    #top-bar ul {
        display: inherit;
    }
    #top-bar {
        background-color: #595159;
    }
    #top-bar form {
        border-left: none;
        height: 40px;
        padding-left: 0;
    }
    #top-bar li { 
        display: inline-block;
        color: #fff;
        padding: 14px 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.27);
        font-weight: 600;
        font-size: 15px;
    }
    #top-bar ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    #top-bar .fa {
        padding-right: 7px;
    }
    #currency-options {
    border: none!important;
    border-radius: 1px;
    font-size: 14px;
    padding: 7px 10px;
    outline: none;
    width: 80px;
    height: 40px;
    border: solid 1px rgba(113, 108, 112, 0.3);
    color: #473e47;
    }
    .step-cover {
        margin-bottom: 40px;
    }
    .multi-room-display {
        margin-bottom: 40px;
    }
    .multi-room-display h2 {
        font-size: 24px!important;
        color: #473e47;
        margin-right: 10px;
    }
    .multi-room-display span {
        font-size: 16px!important;
        color: #716c70;
        font-family: 'Roboto Slab', serif;
    }
    .view-room-btn {
        width: 179px;
        float: right;
        display: block;
        margin-bottom: 20px;
    }
    .show-rates {
        position: absolute;
        right: 34px;
        bottom: 0;
    }
    .rates-list-wrapper .show-rates {
        position: relative;
        right: 0;
    }
    .rates-list {
        padding: 0px 20px 20px 20px;
    } 
    .main-room-content {
        padding: 20px 20px 45px 20px;
    }
    .main-room-img {
        padding: 20px 0 20px 20px;
    }
    .main-room-content h3 {
        font-size: 18px!important;
    }
    .show-rates .room-stay-details h4 {
        font-size: 20px;
        line-height: 0.8;
    }
    .room-stay-details {
        padding: 4px 0;
    }
    .main-room-icons {
        margin-bottom: 20px;
    }
    .rates-list-wrapper .cashback h4 {
        font-size: 16px;
    }
    .rates-list-wrapper .cashback span {
        margin-top: 4px;
    }
    .rates-list-info p {
        padding-left: 20px;
    }
    .main-room-img img {
        height: 100%; 
        width: 100%;
    }
    .rates-list .btn {
        font-size: 13px!important;
    }
    .main-room-content .btn-white {
        height: 38px;
    }
    .rates-list-wrapper .show-rates .cashback span {
        font-size: 13px;
        color: #00aebb;
    }
    .my-booking-heading a {
        background-color: #a54b89;
        padding: 13px;
        color: #fff!important;
    }
    #top-bar {
        margin-bottom: 40px;
    }
    .my-booking-info {
        display: block;
    }
    .my-booking-cover {
        margin-bottom: 20px;
    }
    .guest-form {
        padding: 20px;
    }
    .discount-join {
        border-radius: 1px;
    }
    .discount-img-text {
        background-image: url(/public/images/img-cash-back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 116px;
        width: 100%;
    }
    .discount-img-text h3 {
        color: #fff!important;
        padding: 20px;
        line-height: 1.27;
        width: 185px;
        font-size: 22px;
    }
    .discount-text {
        background-color: #00aebb;
        padding: 20px;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
    .discount-text p {
        max-width: 50%;
        margin-bottom: 0;
        font-weight: 600;
        line-height: 1.38;
        color: #fff;
    }
    .discount-text .btn-white {
        color: #00aebb;
        height: 45px;
        max-width: 148px;
    }
    .booking-details {
        background-color: #fff;
        border: 1px solid #d8d8d8;
    }
    .booking-details p {
        color: #716c70;
        font-size: 15px;
    }
    .booking-details h4 {
        color: #473e47;
        font-size: 21px;
    }
    .rate-info-guest-form {
        padding: 0;
    }
    .rate-info-guest-form img {
        height: 100%;
    }
    .card-form-info {
        max-width: 7.333333%!important;
    }
    .card-form-info i {
        padding-left: 20px
    }

    .exp-date {
        max-width: 14.666667%!important;
    }
    .submit-btn {
        width: 100%;
    }
    .conf-info-head p {
        margin-top: 20px!important;
    }
    .tab-list-facilities li {
        padding-right: 42px;
    }
    .tab-info-footer .btn-blue {
        width: 236px;
    }
    .tab-info-footer .btn-secondary {
        width: 167px;
        float: right;
    }
    .tab-info-footer span {
        padding-right: 20px;
    }
    #ibe .tab-content {
        padding: 40px;
        background-color: #fff;
    }
    .modal-tabs .modal-body {
        padding: 0!important;
    }
    .modal-tabs .modal-body {
        background-color: transparent;
    }
    .nav-tabs li {
        background-color: #fff;
        width: 183px;
        margin-right: 4px;
        border-top-left-radius: 5px!important;
        border-top-right-radius: 5px!important;
    }
    #ibe .nav-tabs a {
        border-bottom: none;
        background-color: #eae9ea;
        color: #473e47!important;
        border-top-left-radius: 5px!important;
        border-top-right-radius: 5px!important;
    }
    #ibe .nav-tabs a.active {
        background-color: #fff;
    }
    .tab-info-apartment {
        padding: 25px 0 0 40px;
        display: inline-block;
    }
}
@media (min-width: 1200px) {

    .multi-row-nav .card-body {
        width: 264px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px!important;
        padding-left: 20px!important;
    }
    .navbar-text li {
        display: inline-block;
        padding: 0 5px;
    }
    .navbar a {
        color: #fff!important;
        font-size: 15px;
        font-weight: 400;
    }
    nav .nav-width-container {
        padding: 0;
    }
    .newsletter .input {
        max-width: 263px;
        float: left;
    }
    .newsletter .submitBtn {
        max-width: 263px;
        float: right;
    }
    .widget-location {
        width: 180px;
        height: 50px;
    }
    .widget-hotel {
        width: 235px;
        height: 50px;
    }

    .rates-list .btn {
        font-size: 16px!important;
    }
    .rates-list-wrapper .show-rates .cashback span {
        font-size: 14px;
        color: #00aebb;
    }
    .mobile-form-card {
        display: none;
    }
    .desktop-form-card {
        display: contents;
    }
    .guest-form-card span.custom-check {
        width: 24px!important;
    }

}
@media (min-width: 1300px) {
    .navbar-text li {
        padding: 0 15px;
    }
    .navbar a {
        font-size: 18px;
    }

}
@media (min-width: 1550px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 30px!important;
        padding-left: 30px!important;
    }
}