@media (min-width: 576px) { 

    .home-box-content {
        padding: 15px; 
    }
    #all-properties ul {
        column-count: 2;
        padding-left: 0;
    }
    ul.roomInfoList {
        column-count: 2;
    }
 }

@media only screen and (max-width: 991px) {

    .room-details-desktop {
        display: none!important;
    }

    /* Expand text */
    .small {
        height: 70px;
        overflow: hidden;
    }

    .big {
        height: auto;
    }

    .px-mob-10 {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    .expand-more {
        position: relative;
        width: 100% !important;
        -webkit-box-shadow: 0px -15px 14px #fff;
        -moz-box-shadow: 0px -15px 14px #fff;
        box-shadow: 0px -15px 14px #fff;
    }

    .expand-more:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }

    .expand-more:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }

    .expand-more a {
        background: #fff;
        padding: 0 10px;
        margin-bottom: 40px;
        font-weight: 600;
    }

    .expand-more a:active,
    .expand-more a:focus {
        text-decoration: none;
    }

    .mobile-nav-wrapper {
        padding: 12px 5px;
        width: 100%;
    }

    /* Main Navigation */

    .navbar {
        background-color: #473e47;
        padding: 0 !important;
    }

    .navbar a {
        color: #fff !important;
    }

    .navbar .dropdown-menu {
        background-color: #473e47 !important;
    }
    .nav-item {
        padding: 5px 30px;
        border-top: solid 1px rgba(255, 255, 255, 0.2);
    }

    .dropdown-menu {
        border: none !important;
        padding: 0 !important;
    }

    .dropdown-item {
        background-color: #3a323a !important;
        padding: 13px 55px !important;
        border-top: solid 1px rgba(255, 255, 255, 0.2) !important;
    }

    .navbar-nav .dropdown-menu {
        /* position: absolute!important; */
        width: 100%;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .nav-item.dropdown {
        padding: 0;
    }

    a.nav-link.dropdown-toggle {
        padding: 10px 30px;
        display: block;
    }

    .dropdown .fa {
        font-size: 25px;
    }

    /* Hamburger */

    .icon-bar {
        width: 22px;
        height: 2px;
        background-color: #B6B6B6;
        display: block;
        transition: all 0.2s;
        margin-top: 4px
    }

    .navbar-toggler {
        border: none;
        background: transparent !important;
    }

    .navbar-toggler .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .navbar-toggler .middle-bar {
        opacity: 0;
    }

    .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    .navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
    }

    .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler:active {
        border: none !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    a.link-btn {
        text-transform: uppercase;
    }

    .imageTimeline figure {
        height: 31vw;
    }

    .imageTimeline img {
        height: 100%;
        width: 100%;
    }

    .mobile-btns {
        background-color: #473e47;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
    }

    .mobile-btns a {
        width: 50%;
        padding: 13px 0;
        color: #fff !important;
    }

    a.btn-book-mobile {
        background-color: #a54b89;
    }

    /* Property Mobile Nav */

    #property-nav {
        margin: 10px 10px 5px 10px;
        background: #fff;
    }

    #property-nav a {
        font-weight: 400;
        padding-left: 10px;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
    }

    #property-nav .nav-item {
        padding: 0px !important;
        margin: 3px 0;
        border-top: none;
        background-color: #eae9ea;
    }

    #property-nav .property-nav-top {
        background-color: #00aebb;
        border-radius: 1px;
        padding: 8px 0;
        margin-bottom: 5px;
    }

    #property-nav a.nav-link {
        color: #00aebb !important;
    
    }

    #property-nav .nav-link {
        padding: 13px 10px;
    }

    #property-nav .icon-bar {
        background-color: #fff !important;
    }
    #property-nav .nav-item.active {
        border-left: 5px solid #00aebb;
    }
    #property-nav .fa {
        font-size: 25px;
        margin-right: 10px;
    }
    .footer-bottom-nav li:nth-child(1):after {
        content:"\2022";
        padding-left: 5px;
    }
    .footer-bottom-nav li:nth-child(2):after {
        content:"\2022";
        padding-left: 5px;
    }
    .slick-dotted.slick-slider {
        margin-top: 20px;
    }
    .room-details .slick-dotted.slick-slider {
        margin-top: 0;
    }
    .ft-property-details-content h2 {
        text-align: center;
    }
    #property-wrapper .custom-sep {
        margin: 30px 0;
        margin-left: auto;
        margin-right: auto;
    }
    .ft-property-details-content p {
        padding-top: 3px;
    }
    #property-wrapper h2 {
        text-align: center;
    }
    .blog-filters-checkboxes label {
        width: 100%;
    }
    .blog-filters-checkboxes label {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .widget-nigts select, .widget-location select, .widget-hotel select, .widget-rooms select, .rooms_list select {
        width: 100%;
        height: 50px;
        margin: 5px 0;
    }
    .widget-checkin {
        width: 100%;
    }
    .p-10px {
        padding: 5px;
    }
    #booking-widget-banner input, #booking-widget-banner select {
        border: none!important;
        border-radius: 1px;
        font-size: 14px;
        padding: 7px 10px;
        outline: none;
        width: 100%;
        height: 50px;
    }
    #booking-widget-banner .btn-secondary {
        height: 50px;
        width: 100%;
    }
    #booking-widget-banner.homepage-widget .extra-rooms .room-number {
        position: relative;
        top: 20px;
        left: 15px;
        color: #fff; 
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        margin-right: 40px;
    }
    .custom-room-extra .widget-adults, .custom-room-extra .widget-children {
        width: 31.5%;
    }
    .custom-room-extra .widget-adults {
        margin-right: 10px;
    }

    .close-modal {
        margin: 29px 0;
    }

    /* Property Rooms */

    .room-details .card-body h3 {
        margin-bottom: 20px!important;
    }

    .room-details .card-body img {
        width: 30px;
    }
    
}

@media (min-width: 992px) { 

    /* Modal Core */
    
    .modal-content {
        border-radius: 0!important;
    }
    .modal-dialog {
        height: auto;
        min-width: 707px!important;
        margin-top: 100px!important;
        margin-bottom: auto!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .modal-custom .btn {
        margin-bottom: 26px;
        width: 232px;
    }
    .modal-header {
        height: 20px!important;
        background-color: transparent;
        display: block!important;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
        z-index: 20;
        width: auto!important;
        position: relative!important;
        padding: 0!important;
        margin-bottom: 10px;
        border-bottom: none!important;
    }
    .modal-header a {
        color: #fff!important;
    }
    .modal-body {
        background-color: #fff;
        padding: 40px!important;
    }

    /* body */

    p {
        line-height: 26px;
        font-size: 16px;
    }
    a, a:hover {
        font-size: 16px;
    }
    h1, .h1 {
        font-size: 38px!important;
        margin-bottom: 30px;
    }
    h2, .h2 {
        font-size: 32px!important;
        margin-bottom: 30px;
    }
    .reverse {
        flex-direction: row;
        -webkit-flex-direction: row;
 
    }
    .custom-sep {
        margin: 30px 0;
    }
    a.link-btn{
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        border-radius: 1px;
        background-color: rgba(0,0,0,0);
        color: #473e47!important;
        padding: 0;
        text-align: left;
        width: auto!important;
        margin: 30px 0;
    }
    .px-des-lr-35:nth-child(even) {
        padding-left: 35px!important;
    }
    .px-des-lr-35:nth-child(odd) {
        padding-right: 35px!important;
    }

    /* Home page */

    .home-slide {
        height: 495px;
    }
    .large-slide {
        height: 495px;
    }

    .home-banner-large-text {
        padding: 50px 47px 0 25px;
        text-align: left;
    }

    .home-banner-large-text .custom-sep {
        margin-left: 0;
    }

    .home-slide-text {
        position: absolute!important;
        top: -40px;
        margin-left: 77px;
        text-align: right;
        padding: 80px 30px 40px 30px;
        width: 428px;
    }
    .home-slide-text h3 {
       font-size: 30px!important;
       margin-bottom: 20px;
    }
    .home-slide-text a {
       font-size: 18px!important;
    }
    .home-slide-text-border {
        border-left: 10px solid #3aaebb;
    }
    .large-slide-text-border {
        border-left: 10px solid #3aaebb;
    }
    .large-slide-text {
        position: absolute!important;
        top: -40px;
        margin-left: 77px;
        text-align: right;
        padding: 80px 30px 40px 30px;
        width: 428px;
    }
    .large-slide-text h3 {
       font-size: 30px!important;
       margin-bottom: 20px;
    }
    .large-slide-text a {
       font-size: 18px!important;
    }
    .large-slide-text-border {
        border-left: 10px solid #3aaebb;
    }

    .home-slider .slick-slide {
        padding-top: 40px;
    }
    .large-slider .slick-slide {
        padding-top: 40px;
    }
    .home-ft-large-img {
        height: 420px;
    }
    .home-ft-large p {
        font-size: 16px;
        line-height: 1.63;
    }
    .home-ft-large-text {
        padding: 77px;
    }
    .home-ft-large-text-left {
        padding: 0px 38px 0 39px; 
    } 
    .home-ft-large-text-right {
        padding: 0px 39px 0 38px; 
    } 
    .home-ft-large-img-border-left {
        border-left: 10px solid #a54b89
    }
    .home-ft-large-img-border-right {
        border-right: 10px solid #a54b89
    }
    .home-ft-large {
        margin-bottom: 100px;
    }
    .home-box-content {
        padding: 20px; 
    }
    .home-box-content h2 {
        font-size: 32px!important;
    }
    .standard-heading-text {
        margin-bottom: 60px;
        /* margin-top: 104px; */
    }
    .standard-heading-text p {
        font-size: 16px;
        line-height: 1.63
    }
    .imageTimeline figure { 
        width: 16.25%; 
        overflow: hidden; 
        position: relative;
        height: 16vw;
    }
    .imageTimeline figure img{ 
        width: 100%; 
        overflow: hidden; 
        position: relative;
        height: 100%;
    }
    .imageTimeline figure figcaption .imgButtons { top: 20px; }

    .social-channels .fa { 
        height: 50px;
        width: 50px;
        background-color: #a54b89;
        color: #fff;
        padding-top: 13px;
        font-size: 25px;
        border-radius: 50%;
    }
    .social-channels li {
        margin: 0 15px;
    }
    .social-channels {
        margin: 63px 0;
    }
    .newsletter {
        padding: 40px 0 25px 0;
        margin-top: 60px;
    }
    .newsletter .input {
        max-width: 263px;
    }
    .newsletter .submitBtn {
        max-width: 263px;
        border: none;
    }
    .newsletter span { 
        font-size: 34px;
        margin-bottom: 8.5px;
    }
    .newsletter p { 
        font-size: 17px;
        color: #fff;
        line-height: 1.53;
    }
    .footer-bottom-nav {
        margin-top: 21px;
    }
    .footer-top {
        padding-bottom: 50px;
        width: 80%;
    }
    .social-channels-footer .fa-facebook-f {
        padding-left: 8px;
        padding-top: 6px;
    }
    .social-channels-footer .fa-instagram {
        padding-left: 6px;
        padding-top: 6px;
    }
    .social-channels-footer .fa-linkedin {
        padding-left: 7px;
        padding-top: 5px;
    }
    .mobile-footer-nav {
        text-align: left;
    }
    .footer-bottom-nav li:after {
        content:"\2022";
        padding: 0 5px 0 10px;
    }
    .footer-bottom-nav li:last-child:after {
        display: none;
    }
    ul.footer-master-nav {
        column-count: 1;
    }

    .slick-dots {
        bottom: 20px!important;
        right: 20px!important;
    }
    .slick-dots li button:before {
        font-size: 12px!important;
    }
    /* Main Nav */

    .navbar-brand img {
        margin-left: 0px;
    }

    .nav-width-container .col-lg-4 {
        margin-bottom: 20px;
    }

    .navbar {
        background-color: #473e47;
    }

    .navbar a {
        color: #fff!important;
        font-size: 15px;
        font-weight: 400;
    }
    #property-nav a {
        font-size: 17px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 25px 10px!important;
    }

    .navbar-text li {
        display: inline-block;
        padding: 5px;
    }
    nav .nav-width-container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        border: none;
        background: #3a323a;
        margin-top: 0;
    }
    .dropdown-menu span {
        font-size: 14px;
        color: rgba(234, 233, 234, 0.6);
        margin-left: 15px;
    }
    .dropdown-menu h4 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0;
    }
    .dropdown-menu .card-body {
        background-color: #473e47;
        padding: 10px 15px 15px 15px;
    }
    .dropdown-menu .card {
        border: none;
        border-radius: 0!important;
    }
    .dropdown-menu {
        border-radius: 0!important;
        padding: 30px 0!important;
    }
    .multi-row-nav h3 {
        color: #fff;
        position: relative;
        margin-bottom: 14px;
    }
    .multi-row-nav h3:after {
        content: "";
        display: block;
        width: 92%;
        height: 1px;
        background: #473e47;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }
    .multi-row-nav h4 {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
    }
    .multi-row-nav p {
        font-size: 14px;
        font-family: 'Nunito', sans-serif!important;
        color: rgba(234, 233, 234, 0.6);
        margin-bottom: 0;
    }
    .multi-row-nav .card-body {
        padding: 14px auto auto 13px;
        min-height: 100px;
        width: 220px;
    }
    .multi-row-nav li {
        display: inline-block;
    }
    .multi-row-nav ul {
        padding-left: 0;
        display: flex;
        margin-bottom: 30px;
    }
    .add-nav-hover, .nav-item:hover  {
        background-color: #3a323a;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
      }
    .dropdown:hover>.dropdown-menu .position-static.show{
        background-color: #3a323a;
      }
    .navbar {
        padding: 0 1rem!important;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        background-color: #473e47!important;
    }
    .dropdown-toggle::after {
        display: none!important;
    }
    .navbar-nav .card img {
        opacity: 0.9;
    }
    .card:hover img {
        opacity: 1;
    }
    .navbar-nav .card:hover .card-body {
        background-color: #554a55;
    }
    .navbar-nav .card {
        background-color: #3a323a;
    }
    .small-cards img {
        opacity: 0.9;
    }
    .small-cards .apt-img img{
        height: 100%;
        width: 100px;
        object-fit: cover;
    }
    .small-cards:hover img {
        opacity: 1;
    }
    .small-cards .card-body:hover {
        background-color: #554a55;
    }
    .home-ft-large h2 {
        margin-bottom: 13px;
        font-size: 32px!important;
    }
    .home-3-boxes .col-lg-4 {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    #property-nav {
        background-color: #716c70;
        margin-bottom: 60px;
    }
    #property-nav .nav-link {
        padding: 12px 30px!important;
    }
    #property-nav .nav-item:hover {
        background-color: #473e47;
    }
    #property-nav .nav-item.active {
        background-color: #473e47;
    }
    #property-nav {
        border-top: 8px solid #00aebb;
    }
    #ft-property-details {
        margin-bottom: 100px;
    }

    .slick-prev, .slick-next {
        display: none!important;
    }
    .standard-slider:hover .slick-prev,.standard-slider:hover .slick-next {
        display: block!important;
    }
    
    .standard-slider .slick-prev {
        left: 0;
        z-index: 10;
        padding-left: 30px!important;
        height: 100%;
        padding-bottom: 225px!important;
        padding-right: 200px;
    }
    .standard-slider .slick-prev:before {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0));
        padding-right: 30px;
        padding-left: 15px;
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        /* padding-top: 172px; */
    }
    .standard-slider .slick-prev:before {
        /* content: ' \25C0'; */
    }
    .standard-slider .slick-next {
        right: 0px;
        z-index: 10;
        padding-left: 200px!important;
        height: 100%;
        padding-bottom: 225px!important;
        padding-right: 30px;
    }
    .standard-slider .slick-next:before {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0));
        padding-left: 30px;
        padding-right: 15px;
        right: 0;
        position: absolute;
        top: 0;
        height: 100%;
        /* padding-top: 73%; */
        top: 0;
    }

    #property-wrapper h2 {
        margin: 26px 0 30px 0;
    }
    #ft-property-img-text, #ft-property-text-img {
        margin-bottom: 100px;
    }
    .feature ul {
        margin-left: 50px;
    }
    .feature li {
        font-size: 16px;
    }
    .property-banner-hero {
        max-width: 1600px;
    }
    #property-wrapper h3 {
        margin-bottom: 30px;
    }
    .enquiry-cover {
        padding: 30px;
    }
    .enquiry-cover .submitBtn {
        width: 232px;
    }
    .custom-pr-35 {
        padding-right: 35px!important;
    }
    .custom-pl-35 {
        padding-left: 35px!important;
    }
    #all-properties li {
        display: inline-block;
    }
    .fature-x-boxes .card-body {
        position: relative;
        /* display: inline-table; */
    }
    .fature-x-boxes a.link-btn {
        position: absolute;
        bottom: -60px;
    }
    .fature-x-boxes {
        margin-bottom: 100px;
    }
    .fature-tabs .col-lg-6:nth-child(odd) {
        padding-right: 35px!important;
    }
    .fature-tabs .col-lg-6:nth-child(even) {
        padding-left: 35px!important;
    }
    .standard-heading-text ul {
        margin-bottom: 30px;
    }
    .custom-tab .fa {
        right: 20px;
    }
    .blog-list .btn-dark {
        width: 140px;
    }
    .blog-list .card {
        border: none;
        margin-bottom: 40px;
    }
    .blog-article iframe {
        width: 100%;
        height: 315px;
    }
    .ft-property-details-content p {
        font-size: 16px;
    }

    #booking-widget-banner input, #booking-widget-banner select {
        border: none!important;
        border-radius: 1px;
        font-size: 14px;
        padding: 7px 10px;
        outline: none;
        width: 100%;
        height: 50px;
        box-shadow: 0 1px 2px 0 rgba(65, 59, 64, 0.4);
    }
    .homepage-widget {
        background-color: #473e47!important;
        padding: 10px 0;
        margin: 45px 0;
    }
    #booking-widget-banner .btn-secondary {
        height: 50px;
        width: 95%;
    }
    .p-5px {
        padding: 0 3px!important;
    }
    .widget-checkin {
        max-width: 135px;
        height: 50px;
    }
    .widget-nigts {
        width: 105px;
        height: 50px;
    }
    .widget-location {
        width: 110px;
        height: 50px;
    }
    .widget-hotel {
        width: 153px;
        height: 50px;
    }
    .widget-rooms {
        width: 100px;
        height: 50px;
    }
    .widget-adults, .widget-adults option {
        width: 100px;
        height: 50px;
    }
    .widget-children {
        width: 100px;
        height: 50px;
    }
    .rooms_list {
        margin-left: 12px;
        background-color: #473e47!important;
    }
    #booking-widget-banner.homepage-widget .extra-rooms {
        position: relative;
    }
    #booking-widget-banner.homepage-widget .extra-rooms .room-number {
        position: absolute;
        left: -97px;
        top: 5px;
        color: white;
    }
    #booking-widget-banner {
        height: 70px;
    }
    .custom-room-extra, .room-number {
        background-color: #473e47!important;
    }
    .no-bg.custom-room-extra ,.no-bg.room-number {
        background-color: rgba(71, 62, 71, 0)!important;
    }
    .custom-room-extra {
        margin-top: 5px;
        right: 3px;
        z-index: 9;
    }
    .room-number {
        height: 55px;
        width: 303px; 
        padding-left: 35px;
        padding-top: 9px;
    }
    .custom-room-extra select {
        margin-left: 3px;
    }
    #property-wrapper .homepage-widget {
        background-color: transparent!important;
    }
    .property-banner {
        height: 373px;
    }
    .property-banner h1 {
        color: #fff;
        text-align: center;
        padding-top: 114px;
        font-size: 49px!important;
    }

    /* Propety Rooms */

    .property-room-details {
        margin-bottom: 60px;
    }

    .room-details .card-body {
        padding: 14px 30px 30px 30px;
        background-color: #eae9ea;
    }
    .room-details .card-body li {
        display: inline-block;
        color: #716c70;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        width: 32.5%;
    }
    .room-details .card-body img {
        margin-bottom:10px;
    }
    .room-details .card-body ul {
        padding-left: 0px;
        margin-bottom: 43px;
    }
    .room-details .btn-white {
        margin-right: 15px;
    }
    .room-details .btn-secondary {
        margin-left: 15px;
    }
    
    .room-details .slider img {
        height: 350px;
        object-fit: cover;
    }
    .room-details-desktop h2 {
        color: #a54b89;
        font-size: 24px;
        line-height: 1;
    }
    .room-details-desktop span {
        font-size: 13px;
        color: #716c70;
        line-height: 16px;
    }
    .room-details-desktop {
        margin-bottom: 42px;
    }
    .room-details .slider::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(71, 62, 71, 0.0), rgba(71, 62, 71, 0.2));
        margin-top: -350px;
        height: 350px;
        width: 100%;
        content: '';
        z-index: 9;
    }
    .roomInfoIcons li {
        display: inline-block;
        color: #716c70;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        width: 20%;
    }
    .roomInfoIcons img {
        width: auto;
        margin: 12px 0;
    }
    #roomInfo .modal-dialog {
        max-width: 1000px!important;
    }
    #roomInfo p {
        font-size: 17px;
    }
    ul.roomInfoList {
        column-count: 3;
        padding-left: 15px;
    }
    ul.roomInfoIcons {
        padding-left: 0;
    }

    #roomInfo .standard-slider img {
        height: 600px;
        margin-top: 0;
        object-fit: cover;
    }
    .modal-large-slider {
        padding: 40px 40px 0 40px;
        background-color: #fff;
    }
    .room-details-wrapper {
        margin-bottom: 60px;
    }
    ul.social-channels-footer {
        width: 80%;
    }
}
@media (min-width: 1200px) {


    /* home */

    .home-banner-large-text {
        padding: 100px 94px 0 58px;
        text-align: left;
    }
    .home-box-content {
        padding: 70px 50px 70px 70px; 
    }

    .multi-row-nav .card-body {
        width: 264px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px!important;
        padding-left: 20px!important;
    }
    .navbar-text li {
        display: inline-block;
        padding: 0 5px;
    }
    .navbar a {
        color: #fff!important;
        font-size: 15px;
        font-weight: 400;
    }
    nav .nav-width-container {
        padding: 0;
    }
    .newsletter .input {
        max-width: 263px;
        float: left;
    }
    .newsletter .submitBtn {
        max-width: 263px;
        float: right;
    }
    .home-ft-large-text-left {
        padding: 60px 75px 0 77px; 
    } 
    .home-ft-large-text-right {
        padding: 60px 77px 0 75px; 
    }
    .home-ft-large-img {
        height: 520px;
    }

    /* Property */

    .property-banner span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 22px;
        font-family: 'Roboto Slab', serif;
        margin-left: 20px!important;
    }
    #googleMap {
        width: 100%;
        height: 469px;
    }
    .large-slide-text h3, .home-slide-text h3 {
        margin-bottom: 20px!important;
    }
    .widget-location {
        width: 180px;
        height: 50px;
    }
    .widget-hotel {
        width: 235px;
        height: 50px;
    }

}
@media (min-width: 1300px) {
    .navbar-text li {
        padding: 0 15px;
    }
    .navbar a {
        font-size: 18px;
    }

}
@media (min-width: 1550px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 30px!important;
        padding-left: 30px!important;
    }
}