@media (min-width: 576px) { 

    .home-box-content {
        padding: 15px; 
    }

 }

 @media (min-width: 768px) { 

}

 @media (min-width: 992px) { 

    /* body */

    p {
        line-height: 26px;
        font-size: 16px;
    }
    h1, .h1, h2, .h2 {
        font-size: 38px!important;
        margin-bottom: 30px;
    }
    .reverse {
        flex-direction: row;
    }
    .custom-sep {
        margin: 30px 0;
    }

    /* Home page */

    .home-ft-large-img {
        height: 520px;
    }
    .home-ft-large p {
        font-size: 16px;
        line-height: 1.63;
    }
    .home-ft-large-text {
        padding: 77px;
    }
    .home-ft-large {
        margin-bottom: 100px;
    }
    .home-ft-large-img-border-left {
        border-left: 10px solid #a54b89;
    }
    .home-ft-large-img-border-right {
        border-right: 10px solid #a54b89;
    }
    .home-box-content {
        padding: 50px; 
    }
    .standard-heading-text {
        margin-bottom: 60px
    }
    .standard-heading-textp {
        font-size: 16px;
        line-height: 1.63
    }
    .imageTimeline figure { width: 16.25%; overflow: hidden; position: relative }
    
    .social-channels .fa { 
        height: 50px;
        width: 50px;
        background-color: darkmagenta;
        color: #fff;
        padding-top: 13px;
        font-size: 25px;
        border-radius: 50%;
    }
    .social-channels li {
        margin: 0 15px;
    }
    .social-channels {
        margin: 63px 0;
    }
    .newsletter {
        padding: 40px 0 25px 0;
    }
    .newsletter .input {
        max-width: 263px;
    }
    .newsletter .submitBtn {
        max-width: 263px;
    }
    .newsletter span { 
        font-size: 34px;
        margin-bottom: 8.5px;
    }
    .newsletter p { 
        font-size: 17px;
        color: #fff;
        line-height: 1.53;
    }
    .home-3-boxes {
        margin: 60px; 
    }
 }

 @media (min-width: 1200px) {

    .home-box-content {
        padding: 70px; 
    }
    
 }

 

