@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 22px;
    font-size: 15px;
}

h1, .h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:#716C70 ; 
    font-size: 26px;
}

h2, .h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: 400;
    color:  #716C70; 
}
h3, .h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    color:  #473E47; 
}
h4, .h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color:  #473E47; 
}
h5, .h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:  #473E47; 
    font-size: 17px;
}


p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 22px;
    font-size: 15px;
}

.reverse {
    flex-direction: column-reverse;
}

/* ------------------------ */

/* Components */

.btn {
    font-family: Nunito!important;
    font-weight: 600!important;
    border-radius: 1px!important;
}

.btn-secondary {
    background-color: #a54b89!important;
}

a, a:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #a54b89!important;
    text-decoration: none;
}

a.link2, a.link2:hover {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #473e47!important;
    text-decoration: none;
}
/* a.link2:after {
    width: 60px;
} */
/* a.link2:after:hover {
    content:"\00a9";
} */

svg {
    width: 50px;
    height: 20px;
    transition:width 2s ease;
    overflow: visible;
}
.link2 svg:hover {
    width: 60px;
}

.custom-sep {
    width: 50px;
    display: block;
    border-bottom: solid 5px #a54b89;
    margin: 35px 0;
}

/* ------------------------- */

/* Home Page */

.home-ft-large-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100px;
    width: auto;
}
.home-ft-large {
    margin-bottom: 30px;
}
.home-3-boxes-slider{
    margin-left: 15px;
    /* margin-right: -15px; */
    overflow: hidden;
    /* max-width: 85%; */
}
.home-3-boxes-slider-slide {
    /* padding-right: 15px!important; */
    display: block;
}