@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 22px;
    font-size: 15px;
}

h1, .h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:#716C70 ; 
    font-size: 26px;
}

h2, .h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 400;
    color:  #716C70; 
    font-size: 26px;
}
h3, .h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px!important;
    font-weight: 400;
    color:  #473E47;
}
h4, .h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color:  #473E47; 
}
h5, .h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:  #473E47; 
    font-size: 17px;
}


p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 1.4;
    font-size: 15px;
}

.reverse {
    flex-direction: column-reverse;
}

.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* ------------------------ */

/* Components */

.btn {
    font-family: Nunito!important;
    font-weight: 600!important;
    border-radius: 1px!important;
}

.btn-secondary {
    background-color: #a54b89!important;
}

a, a:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #a54b89!important;
    text-decoration: none!important;
    font-weight: 600;
}

a.link2, a.link2:hover {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #473e47!important;
}

svg {
    width: 50px;
    height: 20px;
    transition:width 2s ease;
    overflow: visible;
}

.custom-sep {
    width: 50px;
    display: block;
    margin: 20px 0;
}

a.link-btn {
    font-family: Nunito;
    font-weight: 600;
    border-radius: 1px;
    background-color: #a54b89;
    color: #fff!important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%!important;
    display: block;
    text-align: center;
}

a.link-btn:hover {
    text-decoration: none;
}

.nav-item a {
    font-weight: 400;
}


/* ------------------------- */

/* Home Page */

.home-slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120px;
    min-width: 280px;
}

.home-slider-large {
    overflow: hidden;
}

.home-banner-large-text {
    text-align: center;
}
.home-banner-large-text .custom-sep {
    margin-left: auto;
    margin-right: auto;
}
.home-slide-text {
    background-color: rgba(71, 62, 71, 0.9);
    padding: 10px 10px 25px 10px;
}
.home-slide-text h3, .home-slide-text p {
    color: #fff!important;
}
.home-slide-text a {
    color: #fff!important;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.home-slide-text a:hover {
    text-decoration: none;
}
.slick-dots {
    bottom: 5px!important;
    text-align: right!important;
    right: 20px!important;
}

.slick-dots li {
    margin: 0!important;
}

.slick-dots li button:before {
    font-size: 50px!important;
    color: #fff!important;
    opacity: .65!important;
}

.slick-dots li.slick-active button:before {
    opacity: .95!important;
    color: #fff;
}
.mobile-booking-widget {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 220px;
    position: relative;
}
.booking-widget-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -25px;
}
.booking-widget-middle-input {
    padding: 13px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #413b40;
    background: white;
    float: left;
}
.booking-widget-middle-btn {
    padding: 13px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #413b40;
    background: #a54b89;
    float: right;
    color: #fff;
}
.booking-widget-middle .fa {
    color: rgba(113, 108, 112, 0.4);
    margin-right: 10px;
}
.home-ft-large-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 180px;
    min-width: 280px;
    margin-bottom: 10px;
}
.home-ft-large {
    margin-bottom: 40px;
}
.home-ft-large h2 {
    margin-bottom: 13px;
    font-size: 20px;
}

.home-3-boxes-slider {
    margin-left: 15px;
    overflow: hidden;
    position: relative;
}
.home-3-boxes-slider-slide {
    display: block;
}

.home-box-content {
    background-color: #eee;
    padding: 15px; 
}

.home-3-boxes-slider span {
    color: #fff;
    top: 150px;
    position:absolute;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}
.home-3-boxes-slider figure  {
    position: relative;
}

    /* Standard Heading Text */

.standard-heading-text {
    margin-bottom: 40px
}
.standard-heading-text h2 {
    margin-top: 10px;
    font-size:34px;
}

    /* Insta */

#instagram {
    visibility: visible;
    margin: 10px 0;
}

#instagram .imgDescription {
    font-size: 11px;
    color: white;
}

.imageTimeline figure { width: 32%; overflow: hidden; position: relative; margin: 0 0 10px; }

.imageTimeline figure figcaption { background: rgba(55, 82, 93, 0.8); color: #fff; display: -webkit-flex; display: -moz-flex; display: flex; font-family: 'Lato', sans-serif; font-size: 15px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 20px; padding-top: 80px; opacity: 0; visibility: hidden; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; z-index: 1 }

.imageTimeline figure figcaption * { opacity: 0; transform: scale(0.8); -webkit-transform: scale(0.8); transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s; -webkit-transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s }

.imageTimeline figure figcaption .imgButtons { position: absolute; top: 40px; left: 20px; right: 20px; overflow: hidden; padding: 0 1px }

.imageTimeline figure figcaption .imgButtons a { color: #fff }

.imageTimeline figure figcaption .imgButtons a + a { float: right }

.imageTimeline figure figcaption .imgButtons a:hover { color: #ff9c86 }

.imageTimeline figure figcaption .imgButtons i { font-size: 18px; margin-right: 5px; color: #fff; }

.imageTimeline figure figcaption p { font-family: 'Lato', sans-serif; font-size: 15px; text-align: center }

.imageTimeline figure figcaption .imgDescription { display: -webkit-flex; display: -moz-flex; display: flex; align-items: center }

.imageTimeline figure:hover figcaption { opacity: 1; visibility: visible }

.imageTimeline figure:hover figcaption * { opacity: 1; transform: scale(1); -webkit-transform: scale(1) }

.imageTimeline figure figcaption { font-size: 14px; padding-top: 50px }

.imageTimeline figure figcaption .imgButtons { top: 50% }

.imageTimeline figure figcaption p { font-size: 14px }

.imageTimeline figure:hover { 
    cursor: pointer; 
}

.flexRow, .flexColumn { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-direction: row; justify-content: space-between }

.flexRow { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; align-items: stretch; -webkit-align-items: stretch; }


/* Social Icons Main */

.social-channels {
    padding-left: 0;
    margin: 40px 0;
}

.social-channels li {
    display: inline-block;
    margin: 0 13.3px;
}

.social-channels .fa { 
    height: 40px;
    width: 40px;
    background-color: #a54b89;
    color: #fff;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 50%;
}
.social-channels .fa:hover { 
    background-color: #844882; 
    cursor: pointer; 
}

/* Newsletter */

.newsletter {
    background-color: rgba(71, 62, 71, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

.newsletter span { 
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
.newsletter p { 
    font-size: 15px;
    color: #fff;
    line-height: 1.47;
}
.newsletter .input {
    border-radius: 1px;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    color: #413b40;
    font-size: 16px;
    padding: 5px 10px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    border: 0px solid;
    padding-bottom: 7px;
}
.newsletter .submitBtn {
    width: 100%;
    font-weight: normal;
    background-color: #00aebb!important;
}

/* Footer */

footer {
    background-color: #473e47;
    padding: 44px 0 21px 0;
}

.footer-top {
    height: 54px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    padding-bottom: 70px;
}

footer p, li {
    color: #fff;
}

footer a {
    color: #fff!important;
    font-weight: 400;
}
footer a:hover {
    color: #fff!important;
    font-weight: 400;
    text-decoration: none;
}
footer ul {
    padding-left: 0;
    font-size: 16px;
}
footer li {
    list-style: none;
    padding-bottom: 10px;
}
footer li:last-child {
    padding-bottom: 0px;
}

.footer-desktop-nav li {
    opacity: 0.5;
}

.social-channels-footer {
    padding-left: 0;
}

.social-channels-footer li {
    display: inline-block;
}
ul.social-channels-footer {
    padding: 20px 0;
    border-top: 1px solid #665a66;
    margin-bottom: 0;
    margin-top: 20px;
}

.social-channels-footer .fa { 
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #473e47;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 50%;
}
.social-channels-footer .fa:hover { 
    background-color: #fff; 
    cursor: pointer; 
}
.footer-bottom p {
    margin-bottom: 10px;
}
.social-channels-footer .fa-facebook-f {
    padding-left: 0px;
    padding-top: 6px;
}
.social-channels-footer .fa-instagram {
    padding-left: 0px;
    padding-top: 6px;
}
.social-channels-footer .fa-linkedin {
    padding-left: 0px;
    padding-top: 5px;
}
.footer-bottom-nav {
    text-align: center;
    margin-top: 30px;
}
.footer-bottom-nav li {
    display: inline-block;
    opacity: 0.5;
}
.footer-bottom-nav li:nth-child(1):after {
    content:"\2022";
    padding-left: 5px;
}
.footer-bottom-nav li:nth-child(2):after {
    content:"\2022";
    padding-left: 5px;
}

.mobile-footer-nav {
    text-align: center;
}
ul.footer-master-nav {
    column-count: 2;
}