@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 22px;
    font-size: 15px;
}

h1, .h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:#716C70 ; 
    font-size: 26px;
}

h2, .h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 400;
    color:  #716C70; 
    font-size: 26px;
}
h3, .h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 400;
    color:  #473E47;
}
h4, .h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color:  #473E47; 
}
h5, .h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:  #473E47; 
    font-size: 17px;
}


p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:  #473E47; 
    line-height: 1.4;
    font-size: 15px;
}

.reverse {
    flex-direction: column-reverse;
}

/* ------------------------ */

/* Components */

.btn {
    font-family: Nunito!important;
    font-weight: 600!important;
    border-radius: 1px!important;
}

.btn-secondary {
    background-color: #a54b89!important;
}

a, a:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #a54b89!important;
    text-decoration: none;
}

a.link2, a.link2:hover {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #473e47!important;
    text-decoration: none;
}

svg {
    width: 50px;
    height: 20px;
    transition:width 2s ease;
    overflow: visible;
}

.custom-sep {
    width: 50px;
    display: block;
    margin: 20px 0;
}


/* ------------------------- */

/* Home Page */

.home-ft-large-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 180px;
    min-width: 280px;
    margin-bottom: 10px;
}
.home-ft-large {
    margin-bottom: 40px;
}
.home-ft-large h2 {
    margin-bottom: 13px;
    font-size: 20px;
}

.home-3-boxes-slider {
    margin-left: 15px;
    overflow: hidden;
    position: relative;
}
.home-3-boxes-slider-slide {
    display: block;
}

.home-3-boxes-slider span {
    color: #fff;
    top: 150px;
    position:absolute;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}
.home-3-boxes-slider figure  {
    position: relative;
}

    /* Standard Heading Text */

.standard-heading-text {
    margin-bottom: 40px
}
.standard-heading-text h2 {
    margin-top: 10px;
    font-size:34px;
}