* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

p {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

button {
  margin-bottom: 0;
}

.btn-primary {
  background-color: #333232;
  border-radius: 0;
  border: 1px solid #333232;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  background-color: #fff;
  color: #333232;
  border: 1px solid #333232;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #333232;
  background-color: #fff;
  color: #333232;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle {
  border-color: #333232;
}

select:focus {
  outline: none;
}

.icon-open-gallery {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.hotel-info-buttons .btn-primary {
  margin-right: 10px;
}

#mobile-hotel-info {
  background-color: #333232;
  padding: 14px 0;
}

#mobile-hotel-info a {
  font-size: 15px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

#mobile-hotel-info a:focus {
  text-decoration: none;
}

.hotel-info-buttons .btn-primary {
  border: 1px solid rgba(131, 111, 111, 0.8);
  padding: 8.5px 17.5px;
}

.hotel-info-buttons .btn-primary:hover {
  border: 1px solid #fff;
}

.hotel-info-buttons .btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hotel-info-buttons .btn-primary:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  color: #333232;
}

.hotel-info-buttons .btn-primary:not(:disabled):not(.disabled).active:focus, .hotel-info-buttons .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .hotel-info-buttons .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hotel-info-buttons .btn-primary:not(:disabled):not(.disabled).active, .hotel-info-buttons .btn-primary:not(:disabled):not(.disabled):active, .show > .hotel-info-buttons .btn-primary.dropdown-toggle {
  border-color: #333232;
}

.booking-summary-heading {
  padding: 10px;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 992px) {
  .booking-summary-heading {
    padding: 30px 30px 20px 30px;
  }
}

.booking-summary-heading h2 {
  font-size: 15px;
  color: #333232;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .booking-summary-heading h2 {
    font-size: 22px;
  }
}

.booking-summary-data {
  background-color: #f2f2f2;
  padding: 0 10px;
}

.booking-summary-data p {
  width: 50%;
}

.booking-summary-data .booking-row {
  padding: 10px 0;
}

@media screen and (min-width: 992px) {
  .booking-summary-data {
    padding: 0 30px;
  }
}

@media screen and (max-width: 991px) {
  .booking-summary-data {
    display: none;
  }
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.room-content {
  padding: 10px;
}

.room-content h3 {
  font-size: 17px;
  margin-bottom: 20px;
}

.room-content h2 {
  font-size: 30px;
  line-height: 1;
}

.room-content .price-section {
  position: relative;
}

@media screen and (min-width: 992px) {
  .room-content .price-section {
    margin-bottom: 60px;
  }
}

.room-content .price-section .strike-through {
  position: absolute;
  top: -20px;
  right: 0;
}

.room-content .price-section .num-nights {
  position: absolute;
  right: 0;
}

.room-content span {
  color: rgba(51, 50, 50, 0.5);
  font-size: 13px;
}

@media screen and (min-width: 992px) {
  .room-content {
    padding: 30px;
  }
}

.room-content .from-spam {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .room-content .from-spam {
    position: absolute;
    top: -12px;
  }
}

.room-content .price-after-decimal {
  font-size: 18px;
  color: #333232;
}

.room-content .view-rates-btn {
  width: 151px;
  height: 50px;
}

.card-style {
  -webkit-box-shadow: inset 0px 0px 0px 1px #d8d8d8;
          box-shadow: inset 0px 0px 0px 1px #d8d8d8;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  header {
    margin: 20px 0;
  }
}

header .header-container {
  height: 60px;
  max-width: 1480px;
  padding: 0 60px;
  margin: 0 auto;
}

header .header-container .main-nav ul {
  width: 100%;
}

header .header-container .main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

header .header-container .main-nav li {
  float: left;
  list-style: none;
}

header .header-container .main-nav a {
  color: #000;
  text-decoration: none;
  padding: 16px 8px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: 'EB Garamond', serif;
}

@media screen and (min-width: 1403px) {
  header .header-container .main-nav a {
    padding: 16px 17px;
    font-size: 18px;
  }
}

header .header-container .btn-primary {
  padding: 10.5px 32px;
}

header .logo {
  width: 102px;
  height: auto;
}

@media screen and (min-width: 992px) {
  header .logo {
    width: 128px;
    height: 50px;
  }
}

.navbar {
  padding: 0;
}

.navbar .mobile-nav-top {
  padding: 16px 20px;
}

.navbar .navbar-nav a {
  padding: 27px 0;
  margin: 0 20px;
  font-family: 'EB Garamond', serif;
  color: #222222 !important;
  font-size: 18px;
  border-bottom: 1px solid #222222;
}

.navbar .nav-book-now {
  background-color: #000;
  margin: 0 !important;
  padding: 27px 20px !important;
}

.navbar a.nav-book-now {
  color: #fff !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 991px) {
  .container {
    max-width: 1500px;
    padding: 0 60px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn-primary {
  background-color: #333232;
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#banner {
  background-color: #333232;
  color: #fff;
  padding: 20px 0 27px 0;
  position: relative;
  margin-bottom: 30px;
}

#banner h1 {
  font-size: 20px;
  margin-top: 19px;
  margin-bottom: 32px;
}

#banner p {
  font-size: 16px;
  margin-bottom: 53px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  #banner {
    margin-bottom: 40px;
  }
}

.hotel-gallery {
  background: linear-gradient(104deg, rgba(0, 0, 0, 0), rgba(26, 26, 26, 0) 81%, rgba(26, 25, 25, 0) 85%, rgba(51, 50, 50, 0.5)), url("https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg") no-repeat center center;
  height: 240px;
  width: 100%;
  position: absolute;
  top: -212px;
  right: 0;
}

/* ALL */
.three {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222222;
  text-align: center;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #333232;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.edit-search-btn {
  background-color: #f2f2f2;
  border-radius: 25px;
  border: solid 1px rgba(51, 50, 50, 0.8);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.open-booking-summery .fa {
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 17px;
  padding-left: 7px;
  padding-top: 6px;
  color: #fff;
}

.booking-summary-data p {
  font-size: 15px;
  font-weight: 400;
}

.booking-summary-data p:nth-child(even) {
  text-align: right;
}

.booking-summary-heading span {
  font-size: 13px;
  color: rgba(51, 50, 50, 0.5);
}

.booking-summary-table {
  padding: 10px 0;
}

@media screen and (min-width: 992px) {
  .booking-summary-table {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
}

.desktop-sign-up {
  background-color: #f2f2f2;
  padding: 10px 10px;
}

@media screen and (min-width: 992px) {
  .desktop-sign-up {
    padding: 38px 30px;
  }
}

.desktop-sign-up h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.desktop-sign-up .desktop-sign-up-content {
  padding: 10px 0 0 20px;
}

.desktop-sign-up p {
  font-size: 15px;
  line-height: 1.73;
  color: rgba(51, 50, 50, 0.8);
  margin-bottom: 15px;
}

.desktop-sign-up .btn {
  margin-bottom: 15px;
}

.desktop-sign-up a {
  color: #333232;
  text-decoration: underline;
}

.desktop-sign-up a:hover {
  color: #333232;
  cursor: pointer;
}

.desktop-sign-up img {
  -o-object-fit: cover;
     object-fit: cover;
}

#progress-steps .active {
  color: #333232;
}

.pregress-steps-desktop {
  color: rgba(51, 50, 50, 0.5);
  font-size: 14px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.progress-steps-mobile {
  margin: 30px 0;
}

.progress-steps-mobile img {
  margin-right: 15px;
}

.progress-steps-mobile h3 {
  font-size: 18px;
  color: #333232;
}

.progress-steps-mobile span {
  font-size: 13px;
  color: rgba(51, 50, 50, 0.5);
}

.dropdown-currency select {
  border: none;
  font-size: 13px;
  color: rgba(51, 50, 50, 0.5);
  margin-left: 70px;
}

@media screen and (min-width: 992px) {
  .pr-20 {
    padding-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .pl-20 {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */